:root {
  /* main nav */
  --co-main: 71px;
  /** offset from bottom */
  --co-deck-footer: 42px;
  /** offset from bottom */
  --co-main-footer: 9px;
  /** deck tabs **/
  --co-tabs: 64px;
  /** search input box height */
  --co-search-input: 45px;
}
.p-tabview .p-tabview-panels {
  padding: 0.75rem;
  border: none;
}
.deck-status-container {
  left: 468px !important;
}
.ft-color-filter {
  background-color: var(--gray-300);
}
.ft-color-filter .p-button {
  padding: 0.5rem;
}
.ft-color-filter-active {
  background-color: var(--gray-100);
}
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.3rem;
}
.p-inputtext {
  padding: 0.2rem 0.2rem;
}
