<template>
  <div class="card w-full" style="height: calc(100vh - var(--co-main) - var(--co-main-footer))">
    <div class="flex align-items-stretch justify-content-between card-container orange-container" style="height: 40px">
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-header" :style="'min-width: ' + columnWidth + '%'">
        <strong>Card numbers</strong>
      </div>
      <div
        v-if="currency != 'none'"
        class="flex align-items-center justify-content-center border-1 aggregate-widget-header"
        :style="'min-width: ' + columnWidth + '%'"
      >
        <strong>Most expensive cards</strong>
      </div>
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-header" :style="'min-width: ' + columnWidth + '%'">
        <strong>Most played cards</strong>
      </div>
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-header" :style="'min-width: ' + columnWidth + '%'">
        <strong>Companions</strong>
      </div>
    </div>
    <div class="flex align-items-stretch justify-content-between card-container orange-container" style="height: 45%">
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-content" :style="'min-width: ' + columnWidth + '%'">
        <div v-if="loading" :style="'min-width: ' + columnWidth + '%; height: 100px;'"><ProgressSpinner /></div>
        <template v-else>
          <ScrollPanel v-if="!loading" class="w-full h-full">
            <div class="m-3">
              <div class="p-tag p-component p-tag-info p-tag-rounded pl-3 pr-3 block relative">
                <span class="p-tag-value">TOTAL DECKS</span>
                <span class="absolute" style="right: 0; top: 0">
                  <Tag severity="info" class="pl-3 pr-3" :value="aggDeckTotal" rounded></Tag>
                </span>
              </div>
              <div class="p-tag p-component p-tag-info p-tag-rounded mt-2 pl-3 pr-3 block relative">
                <span class="p-tag-value">TOTAL CARDS (w/o BASIC LANDS)</span>
                <span class="absolute" style="right: 0; top: 0">
                  <Tag severity="info" class="pl-3 pr-3" :value="aggCardsTotal" rounded></Tag>
                </span>
              </div>
              <div v-if="currency !== 'none'" class="p-tag p-component p-tag-info p-tag-rounded pl-3 pr-3 mt-2 block relative">
                <span class="p-tag-value">TOTAL CARDS VALUE</span>
                <span class="absolute" style="right: 0; top: 0">
                  <Tag
                    :icon="'pi pi-' + (currency === 'eur' ? 'euro' : 'dollar')"
                    severity="info"
                    class="pl-3 pr-3"
                    :value="Math.ceil(aggPriceTotal)"
                    rounded
                  ></Tag>
                </span>
              </div>
              <!--
              <div v-for="(icon, type) in cardTypeIcons" :key="type" class="p-tag p-component p-tag-info p-tag-rounded pl-3 pr-3 mt-2 block relative">
                <span class="p-tag-value"><i :class="icon"></i> {{ type.toUpperCase() }}</span>
                <span class="absolute" style="right: 0; top: 0">
                  <Tag icon="pi pi-ban" severity="info" class="pl-3 pr-3" :value="123" rounded></Tag>
                </span>
              </div>
              -->
            </div>
          </ScrollPanel>
        </template>
      </div>
      <div
        v-if="currency != 'none'"
        class="flex align-items-center justify-content-center border-1 aggregate-widget-content"
        :style="'min-width: ' + columnWidth + '%'"
      >
        <div v-if="loading" :style="'min-width: ' + columnWidth + '%; height: 100px;'"><ProgressSpinner /></div>
        <template v-else>
          <ScrollPanel class="w-full h-full">
            <div class="m-1">
              <CardTeaser
                v-for="(price, oid) in aggPricesPerCard"
                :key="oid"
                :status="Math.ceil(price)"
                :oracle-id="oid as string"
                :currency="currency"
              ></CardTeaser>
            </div>
          </ScrollPanel>
        </template>
      </div>
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-content" :style="'min-width: ' + columnWidth + '%'">
        <div v-if="loading" :style="'min-width: ' + columnWidth + '%; height: 100px;'"><ProgressSpinner /></div>
        <template v-else>
          <ScrollPanel class="w-full h-full">
            <div class="m-1">
              <CardTeaser v-for="(total, oid) in aggQuantityPerCard" :key="oid" :status="total" :oracle-id="oid as string"></CardTeaser>
            </div>
          </ScrollPanel>
        </template>
      </div>
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-content" :style="'min-width: ' + columnWidth + '%'">
        <div v-if="loading" :style="'min-width: ' + columnWidth + '%; height: 100px;'"><ProgressSpinner /></div>
        <template v-else>
          <ScrollPanel class="w-full h-full">
            <div class="m-1">
              <CardTeaser v-for="(total, oid) in aggTotalCompanions" :key="oid" :status="total" :oracle-id="oid as string"></CardTeaser>
            </div>
          </ScrollPanel>
        </template>
      </div>
    </div>
    <div class="flex align-items-stretch justify-content-between card-container orange-container mt-3" style="height: 40px">
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-header" :style="'min-width: ' + columnWidth + '%'">
        <strong>Deck numbers</strong>
      </div>
      <div
        v-if="currency != 'none'"
        class="flex align-items-center justify-content-center border-1 aggregate-widget-header"
        :style="'min-width: ' + columnWidth + '%'"
      >
        <strong>Most expensive decks</strong>
      </div>
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-header" :style="'min-width: ' + columnWidth + '%'">
        <strong>Most used tags</strong>
      </div>
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-header" :style="'min-width: ' + columnWidth + '%'">
        <strong>Deck color combinations</strong>
      </div>
    </div>
    <div class="flex align-items-stretch justify-content-between card-container orange-container" style="height: calc(100% - 45% - 20px - 80px)">
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-content" :style="'min-width: ' + columnWidth + '%'">
        <div v-if="loading" :style="'min-width: ' + columnWidth + '%; height: 100px;'"><ProgressSpinner /></div>
        <template v-else>
          <ScrollPanel v-if="!loading" style="width: 100%; height: 100%">
            <div class="m-3">
              <div v-if="currency !== 'none'" class="p-tag p-component p-tag-warning p-tag-rounded pl-3 pr-3 block relative">
                <span class="p-tag-value">AVERAGE DECK PRICE</span>
                <span class="absolute" style="right: 0; top: 0">
                  <Tag
                    :icon="'pi pi-' + (currency === 'eur' ? 'euro' : 'dollar')"
                    severity="warning"
                    class="pl-3 pr-3"
                    :value="Math.ceil(aggDeckPriceAverage)"
                    rounded
                  ></Tag>
                </span>
              </div>
              <div class="p-tag p-component p-tag-warning p-tag-rounded pl-3 pr-3 mt-2 block relative">
                <span class="p-tag-value">AVERAGE DECK LEVEL</span>
                <span class="absolute" style="right: 0; top: 0">
                  <Tag severity="warning" class="pl-3 pr-3" :value="aggDeckLevelAverage" rounded></Tag>
                </span>
              </div>
              <div>
                <div class="inline-block" style="width: 50%">
                  <div v-for="(total, typ) in aggDeckTypesTotal" :key="typ" class="p-tag p-component p-tag-warning p-tag-rounded mt-2 block relative">
                    <span class="p-tag-value">{{ (typ as string).toUpperCase() }}</span>
                    <span class="absolute" style="right: 0; top: 0">
                      <Tag severity="warning" class="pl-3 pr-3" :value="total" rounded></Tag>
                    </span>
                  </div>
                </div>
                <div class="inline-block" style="margin-left: 1%; width: 49%">
                  <div v-for="(total, frm) in aggDeckFormatsTotal" :key="frm" class="p-tag p-component p-tag-warning p-tag-rounded mt-2 block relative">
                    <span class="p-tag-value">{{ (frm as string).toUpperCase() }}</span>
                    <span class="absolute" style="right: 0; top: 0">
                      <Tag severity="warning" class="pl-3 pr-3" :value="total" rounded></Tag>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ScrollPanel>
        </template>
      </div>
      <div
        v-if="currency !== 'none'"
        class="flex align-items-center justify-content-center border-1 aggregate-widget-content"
        :style="'min-width: ' + columnWidth + '%'"
      >
        <div v-if="loading" :style="'min-width: ' + columnWidth + '%; height: 100px;'"><ProgressSpinner /></div>
        <template v-else>
          <ScrollPanel class="w-full h-full">
            <div class="m-1">
              <DeckTeaser
                v-for="(price, path) in aggPricesPerDeck"
                :key="path"
                :status="Math.ceil(price)"
                :path="path as string"
                :currency="currency"
              ></DeckTeaser>
            </div>
          </ScrollPanel>
        </template>
      </div>
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-content" :style="'min-width: ' + columnWidth + '%'">
        <div v-if="loading" :style="'min-width: ' + columnWidth + '%; height: 100px;'"><ProgressSpinner /></div>
        <template v-else>
          <ScrollPanel class="w-full h-full">
            <div class="m-1">
              <TagTeaser v-for="(total, tag) in aggTagsUsed" :key="tag" :status="total" :tag="tag as string"></TagTeaser>
            </div>
          </ScrollPanel>
        </template>
      </div>
      <div class="flex align-items-center justify-content-center border-1 aggregate-widget-content" :style="'min-width: ' + columnWidth + '%'">
        <div v-if="loading" :style="'min-width: ' + columnWidth + '%; height: 100px;'"><ProgressSpinner /></div>
        <template v-else>
          <ScrollPanel class="w-full h-full">
            <div class="m-1">
              <ColorTeaser v-for="(total, colors) in aggTotalPerColorCombination" :key="colors" :status="total" :colors="colors as string"></ColorTeaser>
            </div>
          </ScrollPanel>
          <ScrollPanel class="w-full h-full">
            <div class="m-1">
              <ColorTeaser v-for="(total, colors) in aggTotalPerColorSingle" :key="colors" :status="total" :colors="colors as string"></ColorTeaser>
            </div>
          </ScrollPanel>
        </template>
      </div>
    </div>
  </div>
</template>

<style scoped>
.flex {
  height: 100%;
}
.p-tag-info {
  background-color: var(--yellow-50) !important;
}
.p-tag-info .p-tag-value {
  color: var(--yellow-900) !important;
  background-color: var(--yellow-50) !important;
}
.p-tag-info .absolute .p-tag-info {
  color: var(--yellow-800) !important;
  background-color: var(--yellow-100) !important;
}
.p-tag-warning {
  background-color: var(--green-50) !important;
}
.p-tag-warning .p-tag-value {
  color: var(--green-900) !important;
  background-color: var(--green-50) !important;
}
.p-tag-warning .absolute .p-tag-warning {
  color: var(--green-800) !important;
  background-color: var(--green-100) !important;
}
.aggregate-widget-header {
  border-color: var(--surface-d);
  background-color: var(--surface-b);
}
.aggregate-widget-content {
  border-color: var(--surface-d);
  background-color: var(--surface-d);
}
</style>

<script setup lang="ts">
import { ref, onMounted, onUnmounted, nextTick } from 'vue';
import ScrollPanel from 'primevue/scrollpanel';
import ProgressSpinner from 'primevue/progressspinner';
import Tag from 'primevue/tag';
import DeckTeaser from '../components/teaser/DeckTeaser.vue';
import CardTeaser from '../components/teaser/CardTeaser.vue';
import TagTeaser from '../components/teaser/TagTeaser.vue';
import ColorTeaser from '../components/teaser/ColorTeaser.vue';
import EventHandler from '@renderer/utils/eventHandler';
import { FORMATS, DECK_TYPES } from '@model/enums';
import { isBasicLand, COLOR_NAMES } from '@model/enums';
import { storeToRefs } from 'pinia';
import { useViewStore } from '@renderer/stores/view';
import { StrNum } from '@model/interfaces/KeyPairs';

const viewStore = useViewStore();
const { companionCards } = storeToRefs(viewStore);
const currency = window.appService.getCurrency();
const columnWidth = currency !== 'none' ? '24' : '32';

const loading = ref(false);
const aggTotalPerColorSingle = ref<StrNum>({});
const aggTotalPerColorCombination = ref<StrNum>({});
const aggTotalCompanions = ref<StrNum>({});
const aggPricesPerDeck = ref<StrNum>({});
const aggPricesPerCard = ref<StrNum>({});
const aggQuantityPerCard = ref<StrNum>({});
const aggTagsUsed = ref<StrNum>({});
const aggDeckTotal = ref(0);
const aggDeckFormatsTotal = ref<StrNum>({});
const aggDeckTypesTotal = ref<StrNum>({});
const aggDeckLevelAverage = ref(0);
const aggDeckPriceAverage = ref(0);
const aggCardsTotal = ref(0);
const aggPriceTotal = ref(0);

onMounted(() => {
  EventHandler.on('refresh-aggregate', refreshStats);
});

onUnmounted(() => {
  EventHandler.off('refresh-aggregate', refreshStats);
});

function refreshStats(): void {
  aggPricesPerCard.value = {};
  aggPricesPerDeck.value = {};
  aggTotalPerColorCombination.value = {};
  aggTotalPerColorSingle.value = {};
  aggQuantityPerCard.value = {};
  aggTotalCompanions.value = {};
  aggTagsUsed.value = {};
  aggDeckTotal.value = 0;
  aggDeckPriceAverage.value = 0;
  aggDeckLevelAverage.value = 0;
  aggDeckFormatsTotal.value = {};
  aggDeckTypesTotal.value = {};

  loading.value = true;
  setTimeout(() => {
    updateStats().then(() => {
      nextTick(() => {
        loading.value = false;
      });
    });
  }, 250); /* more time for spinner to load */
}

async function updateStats(): Promise<void> {
  const registers = window.modelService.Decks.findAll();

  let sumLevels = 0;
  const totalPerColorCombination: StrNum = {};
  const totalPerColorSingle: StrNum = {};
  const pricesPerDeck: StrNum = {};
  const pricesPerCard: StrNum = {};
  const quantityPerCard: StrNum = {};
  const totalFormats: StrNum = {};
  const totalTypes: StrNum = {};
  const totalTags: StrNum = {};
  const totalDecks = registers.length;
  const colorNameTags = Object.values(COLOR_NAMES);

  // reset
  aggCardsTotal.value = 0;
  aggPriceTotal.value = Number(0);

  for (const format of Object.values(FORMATS)) {
    totalFormats[format] = 0;
  }

  for (const type of Object.values(DECK_TYPES)) {
    totalTypes[type] = 0;
  }

  for (const register of registers) {
    let totalPrice = Number(0);

    // deck colors
    const regColors = register.colors || [];
    regColors.sort();

    const colorString = regColors.length > 0 ? regColors.join('') : 'C';
    if (!(colorString in totalPerColorCombination)) {
      totalPerColorCombination[colorString] = 0;
    }
    totalPerColorCombination[colorString]++;

    for (const col of regColors) {
      if (!(col in totalPerColorSingle)) {
        totalPerColorSingle[col] = 0;
      }
      totalPerColorSingle[col]++;
    }

    // tags (without color tags)
    for (const deckTag of register.tags) {
      if (!colorNameTags.includes(deckTag)) {
        if (!(deckTag in totalTags)) {
          totalTags[deckTag] = 0;
        }
        totalTags[deckTag]++;
      }
    }

    // level sum
    sumLevels += register.level;

    // type
    totalTypes[register.type]++;

    // formats
    for (const format of register.formats || []) {
      totalFormats[format]++;
    }

    // check cards
    for (const slot of register.slots) {
      if (!isBasicLand(slot.name)) {
        const card = window.modelService.Cards.byOracleId(slot.oracleId);
        if (card) {
          const q = slot.quantity;

          // total cards
          aggCardsTotal.value += q;

          // most used cards
          if (!(slot.oracleId in quantityPerCard)) {
            quantityPerCard[slot.oracleId] = 0;
          }
          quantityPerCard[slot.oracleId] += q;

          // most expensive cards
          if (currency in card.prices && !isBasicLand(card.englishName)) {
            const add = Number(card.prices[currency]);

            // ignore bulk
            if (add > 5) {
              if (!(slot.oracleId in pricesPerCard)) {
                pricesPerCard[slot.oracleId] = add;
              }
            }

            totalPrice += add * q;
            aggPriceTotal.value += add * q;
          }
        }
      }
    }

    // most expenside decks
    pricesPerDeck[register.path] = totalPrice;
  }

  const totalCompanions: StrNum = {};
  for (const companion of companionCards.value) {
    const registers = window.modelService.Decks.findByOracleId(companion.oracleId);
    totalCompanions[companion.oracleId] = registers.length;
  }

  aggPricesPerCard.value = sortDesc(pricesPerCard, 50);
  aggPricesPerDeck.value = sortDesc(pricesPerDeck, 25);
  aggTotalPerColorCombination.value = sortDesc(totalPerColorCombination);
  aggTotalPerColorSingle.value = sortDesc(totalPerColorSingle);
  aggQuantityPerCard.value = sortDesc(quantityPerCard, 50);
  aggTotalCompanions.value = sortDesc(totalCompanions);
  aggTagsUsed.value = sortDesc(totalTags, 25);
  aggDeckPriceAverage.value = aggPriceTotal.value / totalDecks;
  aggDeckLevelAverage.value = Number((sumLevels / totalDecks).toFixed(2));
  aggDeckFormatsTotal.value = totalFormats;
  aggDeckTypesTotal.value = totalTypes;
  aggDeckTotal.value = registers.length;
}

function sortDesc(obj: StrNum, max?: number): StrNum {
  const sorted = Object.fromEntries(Object.entries(obj).sort(([, a], [, b]) => b - a));

  if (!max) {
    return sorted;
  }

  const cutSorted: StrNum = {};
  const keys = Object.keys(sorted);
  for (let i = 0; i < max && i < keys.length; i++) {
    const key = keys[i];
    cutSorted[key] = sorted[key];
  }

  return cutSorted;
}
</script>
