<template>
  <Splitter style="height: calc(100vh - var(--co-main) - var(--co-main-footer))">
    <SplitterPanel class="flex align-items-top justify-content-center" :size="33" :min-size="33">
      <div class="w-full h-full overflow-auto">
        <DataTable
          v-model:selection="selectedEdition"
          v-model:filters="filtersEdition"
          :value="editionList"
          scrollable
          sortable
          class="w-full h-full"
          selection-mode="single"
          data-key="code"
          :global-filter-fields="['code', 'name']"
          filter-display="menu"
        >
          <template #header>
            <span class="p-input-icon-right">
              <i class="pi pi-search" />
              <InputText v-model="filtersEdition['global'].value" placeholder="Keyword Search" />
            </span>
          </template>
          <Column sortable field="symbol" header="S">
            <template #body="{ data }">
              <img class="sr-default" :src="data.cip" alt="" height="20" />
            </template>
          </Column>
          <Column sortable field="code" header="Code"></Column>
          <Column sortable field="name" header="Name"></Column>
          <Column sortable field="cardCount" header="Card Count"></Column>
          <Column sortable field="releasedAt" header="Released"></Column>
        </DataTable>
      </div>
    </SplitterPanel>
    <SplitterPanel class="flex flexalign-items-top" :size="33">
      <div class="card w-full h-full">
        <div class="m-2">
          <Card>
            <template #title>Statistics</template>
            <template #content>
              <p>
                Total sets: {{ editionList.length }}<br />
                Total cards: {{ totalCards }}
              </p>
            </template>
          </Card>
        </div>
        <div class="m-2">
          <Card v-if="selectedEdition">
            <template #title>Selected set</template>
            <template #content>
              <p><strong>Name:</strong> {{ selectedEdition.name }} ({{ selectedEdition.code }})</p>
              <p><strong>ID:</strong> {{ selectedEdition.id }}</p>
              <p>
                <strong>Cards:</strong>
                <span v-tooltip="'Only unique cards are added to data base, not the total cards in set.'" class="ml-1">
                  {{ searchResults.length }} / {{ selectedEdition.cardCount }}
                </span>
              </p>
              <p><strong>Released:</strong> {{ selectedEdition.releasedAt }}</p>
              <p><strong>Type:</strong> {{ selectedEdition.type }}</p>
            </template>
          </Card>
        </div>
      </div>
    </SplitterPanel>
    <SplitterPanel class="flex align-items-top justify-content-center" :size="33">
      <div class="w-full h-full overflow-auto">
        <DataTable
          v-model:filters="filtersCards"
          scrollable
          sortable
          :value="searchResults"
          show-grid-lines
          class="w-full h-full"
          data-key="code"
          :global-filter-fields="['englishName']"
          filter-display="menu"
        >
          <template #header>
            <span class="p-input-icon-right">
              <i class="pi pi-search" />
              <InputText v-model="filtersCards['global'].value" placeholder="Keyword Search" />
            </span>
            <Badge v-if="searchResults" :value="searchResults.length" class="ml-2"></Badge>
          </template>
          <Column field="id" header="ID">
            <template #body="{ data }">
              <Image v-tooltip="data.id" :src="data.cipNormal" alt="card" height="30" preview></Image>
            </template>
          </Column>
          <Column field="rarity" header="Set">
            <template #body="{ data }">
              <SetRarity :rarity="data.rarity" :code="data.editionCode" />
            </template>
          </Column>
          <Column field="englishName" header="Name"></Column>
          <Column field="cost" header="Costs">
            <template #body="{ data }">
              <ManaCosts :cost="data.cost" />
            </template>
          </Column>
        </DataTable>
      </div>
    </SplitterPanel>
  </Splitter>
</template>

<style>
.light .sr-default {
  filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(5453%) hue-rotate(318deg) brightness(90%) contrast(73%);
}
.dark .sr-default {
  filter: brightness(0) saturate(100%) invert(85%) sepia(1%) saturate(0%) hue-rotate(34deg) brightness(110%) contrast(102%);
}
</style>

<script setup lang="ts">
import { ref, watch } from 'vue';
import Splitter from 'primevue/splitter';
import SplitterPanel from 'primevue/splitterpanel';
import InputText from 'primevue/inputtext';
import DataTable from 'primevue/datatable';
import Card from 'primevue/card';
import Badge from 'primevue/badge';
import Column from 'primevue/column';
import Image from 'primevue/image';
import ManaCosts from '../components/shared/ManaCosts.vue';
import SetRarity from '../components/shared/SetRarity.vue';
import { FilterMatchMode } from 'primevue/api';
import MagicEdition from '@model/types/MagicEdition';
import MagicCard from '@model/types/MagicCard';

const selectedEdition = ref<MagicEdition>();
const searchResults = ref<MagicCard[]>([]);

const editionList = Object.values(window.modelService.Editions.getList());
const totalCards = window.modelService.Cards.total();

const filtersEdition = ref({
  global: { value: null, matchMode: FilterMatchMode.CONTAINS }
});
const filtersCards = ref({
  global: { value: null, matchMode: FilterMatchMode.CONTAINS }
});

watch(selectedEdition, (edition) => {
  if (edition) {
    const results = window.modelService.Cards.byEdition(edition.code);
    searchResults.value = results;
  }
});
</script>
