<template>
  <DeckTabs></DeckTabs>
  <Splitter
    style="height: calc(100vh - var(--co-main) - var(--co-tabs) - var(--co-deck-footer))"
    state-key="splitter-state-decks"
    state-storage="local"
    @resizeend="onResize"
  >
    <SplitterPanel
      class="flex align-items-top justify-content-center"
      :size="20"
      :min-size="3"
      :style="{ 'max-width': hideFileTree || hideCommon ? '35px' : '100%' }"
    >
      <ScrollPanel class="w-full">
        <FileTree></FileTree>
      </ScrollPanel>
    </SplitterPanel>
    <SplitterPanel class="flex align-items-top justify-content-center fake-tabs" :size="45">
      <ScrollPanel id="deck-panel-scroll-panel" class="w-full" :pt="{ content: { style: 'padding: 0; width:100%; height: 100%' } }">
        <DeckPanels></DeckPanels>
      </ScrollPanel>
    </SplitterPanel>
    <SplitterPanel v-if="false === hidePreview || false === hideSearch" class="flex align-items-top justify-content-center" :size="25">
      <ScrollPanel
        v-if="false === hidePreview"
        style="width: 333px; border-right: 4px solid var(--surface-b)"
        :pt="{ content: { style: 'padding-right: 1px' } }"
      >
        <CardPreview class="w-full"></CardPreview>
      </ScrollPanel>
      <ScrollPanel v-if="false === hideSearch && false === hideCommon" class="w-full">
        <CardSearch></CardSearch>
      </ScrollPanel>
    </SplitterPanel>
  </Splitter>
  <PlayTest v-if="drawSidebar"></PlayTest>
</template>

<style>
.fake-tabs {
  position: relative;
}
.fake-tabs .p-tabview-nav-container {
  display: none !important;
}
.fake-tabs .p-tabview-panels {
  padding: 0 !important;
}
.p-overlay-badge .p-badge {
  min-width: 1rem !important;
  height: 1rem !important;
  line-height: 1rem !important;
  padding: 0 0.2rem !important;
}
</style>

<script setup lang="ts">
import { watch, nextTick } from 'vue';
import Splitter from 'primevue/splitter';
import SplitterPanel from 'primevue/splitterpanel';
import ScrollPanel from 'primevue/scrollpanel';
import DeckTabs from '../components/DeckTabs.vue';
import FileTree from '../components/FileTree.vue';
import PlayTest from '../components/PlayTest.vue';
import DeckPanels from '../components/DeckPanels.vue';
import CardPreview from '../components/CardPreview.vue';
import CardSearch from '../components/CardSearch.vue';
import EventHandler from '@renderer/utils/eventHandler';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import useHotkey from 'vue3-hotkey';

const decksStore = useDecksStore();
const { activeDeckTableTab, activeDeckTablePath, deckTableTabs } = storeToRefs(decksStore);

const viewStore = useViewStore();
const { hideSearch, hideFileTree, hidePreview, hideCommon, drawSidebar } = storeToRefs(viewStore);

// when active tab changes, set new activePath
watch(activeDeckTableTab, () => {
  if (undefined !== activeDeckTableTab.value && activeDeckTableTab.value >= 0) {
    const newPath = Object.keys(deckTableTabs.value)[activeDeckTableTab.value];
    activeDeckTablePath.value = newPath;
    // console.info('Set active path', activeDeckTablePath.value);
  }
});

watch(hideSearch, () => {
  EventHandler.emit('splitter-resize');
});

watch(hideFileTree, () => {
  EventHandler.emit('splitter-resize');
});

watch(hidePreview, () => {
  EventHandler.emit('splitter-resize');
});

watch(hideCommon, () => {
  EventHandler.emit('splitter-resize');
});

function onResize(): void {
  EventHandler.emit('splitter-resize');
}

useHotkey([
  {
    keys: ['ctrl', 'f'],
    preventDefault: true,
    handler(): void {
      hideSearch.value = false;
      nextTick(() => {
        (document.querySelector('#input-search') as HTMLInputElement).focus();
      });
    }
  },
  {
    keys: ['alt', 'f'],
    preventDefault: true,
    handler(): void {
      hideSearch.value = !hideSearch.value;
    }
  },
  {
    keys: ['ctrl', 'd'],
    preventDefault: true,
    handler(): void {
      hideFileTree.value = false;
      nextTick(() => {
        (document.querySelector('.p-tree-filter.p-inputtext') as HTMLInputElement).focus();
      });
    }
  },
  {
    keys: ['alt', 'd'],
    preventDefault: true,
    handler(): void {
      hideFileTree.value = !hideFileTree.value;
    }
  },
  {
    keys: ['alt', 'g'],
    preventDefault: true,
    handler(): void {
      hidePreview.value = !hidePreview.value;
    }
  },
  {
    keys: ['alt', 's'],
    preventDefault: true,
    handler(): void {
      drawSidebar.value = !drawSidebar.value;
    }
  },
  {
    keys: ['F10'],
    preventDefault: true,
    handler(): void {
      hideCommon.value = !hideCommon.value;
    }
  },
  {
    keys: ['ctrl', 'ArrowLeft'],
    preventDefault: true,
    handler(): void {
      if (activeDeckTableTab.value && activeDeckTableTab.value > 0) {
        activeDeckTableTab.value -= 1;
      }
    }
  },
  {
    keys: ['ctrl', 'ArrowRight'],
    preventDefault: true,
    handler(): void {
      if (undefined !== activeDeckTableTab.value && activeDeckTableTab.value < Object.keys(deckTableTabs.value).length - 1) {
        activeDeckTableTab.value += 1;
      }
    }
  },
  {
    keys: ['ctrl', 'Home'],
    preventDefault: true,
    handler(): void {
      activeDeckTableTab.value = 0;
    }
  },
  {
    keys: ['ctrl', 'End'],
    preventDefault: true,
    handler(): void {
      activeDeckTableTab.value = Object.keys(deckTableTabs.value).length - 1;
    }
  }
]);
</script>
