<!-- eslint-disable prettier/prettier -->
<template>
  <div class="grid w-full" style="height: calc(100vh - var(--co-main) - var(--co-main-footer))">
    <div class="p-2 col-6">
      <Card>
        <template #title>Card Database</template>
        <template #content>
          On new set releases, errata or rule changes, you should download an updated bulk database.<br /><br />
          This requires an internet access. Refreshed data is available on every 12 hours. There is no need to do this every day.<br /><br />
          When you press the button, the App will remove the existing data and restart. Your decks and settings are not
          affected. Cached images remain on disk. It will take some minutes to rebuild the index on startup, so be
          patient as if your opponent plays storm...<br /><br />
          <Button type="button" severity="warning" @click="refreshDatabase">Clear card database and restart</Button>
        </template>
      </Card>
    </div>
    <div class="p-2 col-6">
      <Card>
        <template #title>Version</template>
        <template #content>
          Build: 1.0.2 &middot; Copyright (C) 2023-2024 Vorsus &middot; Distributed under <a rel="noreferrer noopener" target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL-3.0</a> license.<br />
          Project page: <a rel="noreferrer noopener" target="_blank" href="https://codeberg.org/vorsus/scrysist">codeberg.org/vorsus/scrysist</a> (visit for updates)
          <br /><br />
          <strong>Please support open source software!</strong>
          <br /><br />
          Literal and graphical information, images and a portion of the icons and symbols about Magic: The Gathering are provided by Scryfall.com free of charge under
          <a rel="noreferrer noopener" target="_blank" href="https://company.wizards.com/en/legal/fancontentpolicy">Wizards of the Coast's Fan Content Policy</a>.<br /><br />
          This application also uses the great <a rel="noreferrer noopener" target="_blank" href="https://mana.andrewgioia.com/">Mana Font</a> by Andrew Gioia.<br /><br />
          <i>Scrysist</i> and its developers are not linked to Scryfall.com or Wizards of the Coast. It is an unofficial fan tool for fellow Magic: The Gathering players.
        </template>
      </Card>
    </div>
    <div class="p-2 col-6">
      <Card>
        <template #title>Settings</template>
        <template #content>
          <div class="w-full">
            <div class="grid">
              <div class="col-4">
                <label for="base-path">Base data path</label>
              </div>
              <div class="col-8">
                <InputText id="base-path" v-model="appSettings!.basePath" style="width: 75%"></InputText>
                <Button type="button" icon="pi pi-folder" severity="secondary" @click="pickRootDirectory"></Button>
              </div>
              <div class="col-12 text-sm, text-color-secondary">
                In case you want to store your data elsewhere, you can change the path here. The folder must exist.
                Subfolders are created on startup. To avoid losing caches and databases, you should copy the old
                folder to the new location before.
              </div>
            </div>
            <Divider />
            <div class="mt-1 grid">
              <div class="col-4">
                <label for="open-limit">Open decks limit</label>
              </div>
              <div class="col-8">
                <InputNumber v-model="appSettings!.openLimit" input-id="open-limit" :min="10" :max="999"></InputNumber>
              </div>
              <div class="col-12 text-sm, text-color-secondary">
                For performance reasons the count of concurrent opened tabs is limited. You can change the limit here.
              </div>
            </div>
            <Divider />
            <div class="mt-1 grid">
              <div class="col-4">Card prices currency</div>
              <div class="col-8">
                <div class="flex flex-wrap gap-3">
                  <div class="flex align-items-center">
                    <RadioButton v-model="appSettings!.currency" input-id="currency-none" name="currency" value="none" />
                    <label for="currency-none" class="ml-2">None</label>
                  </div>
                  <div class="flex align-items-center">
                    <RadioButton v-model="appSettings!.currency" input-id="currency-eur" name="currency" value="eur" />
                    <label for="currency-eur" class="ml-2">EUR</label>
                  </div>
                  <div class="flex align-items-center">
                    <RadioButton v-model="appSettings!.currency" input-id="currency-usd" name="currency" value="usd" />
                    <label for="currency-usd" class="ml-2">USD</label>
                  </div>
                </div>
              </div>
              <div class="col-12 text-sm, text-color-secondary">
                Select which currency should be displayed for card prices. When you don't bother about values, just select none.
              </div>
            </div>
            <Divider />
            <div class="mt-1 grid">
              <div class="col-12">
                <Button type="button" severity="warning" @click="refreshSettings">Save settings and restart</Button>
              </div>
            </div>
          </div>
        </template>
      </Card>
    </div>
    <div class="p-2 col-6">
      <Card>
        <template #title>Help</template>
        <template #content>
          <div class="w-full">
            <div class="grid">
              <div class="col-6">
                <Button type="button" severity="info" @click="openConsole">Open debug console</Button>
                <br /><br />
                <span><strong>Cache dir size:</strong> {{ convertBytes(cacheSize) }} <a href="#" title="Refresh" class="pi pi-refresh" @click="refreshCacheSize"></a></span>
              </div>
              <div class="col-6">
                <strong>Hotkeys in Decks window</strong>
                <div class="m-1"><span class="text-color-secondary">Alt + S</span> Toggle test draw panel</div>
                <div class="m-1"><span class="text-color-secondary">Alt + D</span> Toggle file tree panel</div>
                <div class="m-1"><span class="text-color-secondary">Alt + F</span> Toggle search panel</div>
                <div class="m-1"><span class="text-color-secondary">Alt + G</span> Toggle preview panel</div>
                <div class="m-1"><span class="text-color-secondary">F10</span> Hide/show file + search panel</div>
                <div class="m-1"><span class="text-color-secondary">Ctrl + D</span> Focus deck filter</div>
                <div class="m-1"><span class="text-color-secondary">Ctrl + F</span> Focus search input</div>
                <div class="m-1"><span class="text-color-secondary">Ctrl + Right</span> Next deck tab</div>
                <div class="m-1"><span class="text-color-secondary">Ctrl + Left</span> Previous deck tab</div>
                <div class="m-1"><span class="text-color-secondary">Ctrl + Home</span> First deck tab</div>
                <div class="m-1"><span class="text-color-secondary">Ctrl + End</span> Last deck tab</div>
              </div>
            </div>
          </div>
        </template>
      </Card>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import Card from 'primevue/card';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import InputNumber from 'primevue/inputnumber';
import RadioButton from 'primevue/radiobutton';
import Divider from 'primevue/divider';
import { convertBytes } from '@renderer/utils/formatHelper';
import { storeToRefs } from 'pinia';
import { useViewStore } from '@renderer/stores/view';

const viewStore = useViewStore();
const { appSettings } = storeToRefs(viewStore);

const cacheSize = ref(0);

onMounted(() => {
  refreshCacheSize();
});

function refreshCacheSize(): void {
  window.fileSystem.cacheDirSize((size) => (cacheSize.value = size));
}

function openConsole(): void {
  window.appService.openConsole();
}

function refreshDatabase(): void {
  window.dataService.resetBulk();
  window.appService.restartApp();
}

function refreshSettings(): void {
  window.appService.updateSettings(Object.assign({}, appSettings.value!));
  window.appService.restartApp();
}

function pickRootDirectory(): void {
  window.appService.pickDirectory((dir: string | null) => {
    if (dir) {
      appSettings.value!.basePath = dir;
    }
  });
}
</script>
