<template>
  <div
    class="slot-card-item p-2 relative cursor-pointer"
    @click="onCardClick($event, deckSlot.linkedCard)"
    @contextmenu="onContextMenu($event)"
    @mouseover="onCardOver($event, deckSlot.linkedCard)"
  >
    <span class="inline-block text-center w-1">
      <strong>{{ deckSlot.quantity }}</strong>
    </span>
    <span :class="{ 'slot-card-general': generals.includes(deckSlot.oracleId) }">
      <SetRarity :rarity="deckSlot.rarity" :code="deckSlot.editionCode" /> <span>{{ deckSlot.name }}</span>
    </span>
    <span class="absolute" style="right: 5px">
      <ManaCosts :cost="deckSlot.linkedCard.cost"></ManaCosts>
    </span>
  </div>
</template>

<style>
.slot-card-item {
  display: block !important;
}
.light .slot-card-general {
  color: var(--pink-400);
  font-weight: bold;
}
.dark .slot-card-general {
  color: var(--green-300);
  font-weight: bold;
}
</style>

<script setup lang="ts">
import { nextTick, toRefs, PropType } from 'vue';
import ManaCosts from '../../shared/ManaCosts.vue';
import SetRarity from '../../shared/SetRarity.vue';
import DeckHandler from '@renderer/utils/deckHandler';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import DeckSlot from '@model/types/DeckSlot';
import { Board } from '@model/enums';
import MagicCard from '@model/types/MagicCard';

const emit = defineEmits(['contextMenu']);
const props = defineProps({
  deckSlot: { type: Object as PropType<DeckSlot>, required: true },
  path: { type: String, required: true },
  generals: { type: Array as PropType<string[]>, required: true },
  board: { type: String as PropType<Board>, required: false, default: 'main' }
});

const decksStore = useDecksStore();
const { loadedDecks } = storeToRefs(decksStore);

const viewStore = useViewStore();

const { deckSlot, board, path, generals } = toRefs(props);

function onContextMenu(ev: Event): void {
  emit('contextMenu', ev, contextItemsCard);
}

function onCardOver(_ev: Event, card: MagicCard): void {
  viewStore.showPreview(card, false);
}

function onCardClick(_ev: Event, card: MagicCard): void {
  viewStore.showPreview(card);
}

const contextItemsCard = [
  {
    label: 'Increase card',
    icon: 'pi pi-plus',
    command: (): void => {
      nextTick(() => {
        DeckHandler.increaseSlot(loadedDecks.value[path.value]!, deckSlot.value.oracleId, board.value);
        DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
      });
    }
  },
  {
    label: 'Decrease card',
    icon: 'pi pi-minus',
    command: (): void => {
      nextTick(() => {
        DeckHandler.decreaseSlot(loadedDecks.value[path.value]!, deckSlot.value.oracleId, board.value);
        DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
      });
    }
  },
  {
    label: 'Remove card',
    icon: 'pi pi-times',
    command: (): void => {
      nextTick(() => {
        DeckHandler.removeSlot(loadedDecks.value[path.value]!, deckSlot.value.oracleId, board.value);
        DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
      });
    }
  }
];
</script>
