<template>
  <div class="card p-2 p-tabview">
    <div v-if="activePreviewTab === 'info'" class="w-full h-full info">
      <PreviewInfo></PreviewInfo>
    </div>
    <div v-if="activePreviewTab === 'links'" class="w-full h-full info">
      <PreviewLinks></PreviewLinks>
    </div>
    <div v-if="activePreviewTab === 'decks'" class="w-full h-full info">
      <PreviewDecks></PreviewDecks>
    </div>
    <div v-if="activePreviewTab === 'checks'" class="w-full h-full info">
      <PreviewChecks></PreviewChecks>
    </div>

    <div class="fixed content-tabs w-full">
      <ul class="p-tabview-nav" role="tablist">
        <li v-tooltip.top="'Info'" :class="'p-tabview-header' + (activePreviewTab === 'info' ? ' p-highlight' : '')" data-index="0">
          <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="activePreviewTab = 'info'">
            <span class="p-tabview-title text-sm"><i class="pi pi-id-card"></i></span>
          </a>
        </li>
        <li v-tooltip.top="'Links'" :class="'p-tabview-header' + (activePreviewTab === 'links' ? ' p-highlight' : '')" data-index="1">
          <a v-if="currentPreviewCard" class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="activePreviewTab = 'links'">
            <span class="p-tabview-title text-sm"><i class="pi pi-link"></i></span>
          </a>
        </li>
        <li v-tooltip.top="'Decks'" :class="'p-tabview-header' + (activePreviewTab === 'decks' ? ' p-highlight' : '')" data-index="2">
          <a v-if="currentPreviewCard" class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="activePreviewTab = 'decks'">
            <span class="p-tabview-title text-sm"><i class="pi pi-fw pi-th-large"></i></span>
          </a>
        </li>
        <li v-tooltip.top="'Batch checks'" :class="'p-tabview-header' + (activePreviewTab === 'checks' ? ' p-highlight' : '')" data-index="3">
          <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="activePreviewTab = 'checks'">
            <span class="p-tabview-title text-sm"><i class="pi pi-check-circle"></i></span>
          </a>
        </li>
        <li v-tooltip.top="'Random'" data-index="4">
          <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="randomCard">
            <span class="p-tabview-title text-sm"><i class="pi pi-gift"></i></span>
          </a>
        </li>
        <li v-tooltip.top="'Close'" data-index="5">
          <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="hidePreview = true">
            <span class="p-tabview-title text-sm"><i class="pi pi-times"></i></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import PreviewInfo from './preview/PreviewInfo.vue';
import PreviewLinks from './preview/PreviewLinks.vue';
import PreviewDecks from './preview/PreviewDecks.vue';
import PreviewChecks from './preview/PreviewChecks.vue';
import { storeToRefs } from 'pinia';
import { useViewStore } from '@renderer/stores/view';

const viewStore = useViewStore();
const { currentPreviewCard, hidePreview, activePreviewTab } = storeToRefs(viewStore);

function randomCard(): void {
  const counter = Math.floor(Math.random() * window.modelService.Cards.total()) + 1;
  viewStore.showPreview(window.modelService.Cards.byCounter(counter));
  activePreviewTab.value = 'info';
}
</script>
