<template>
  <span class="p-input-icon-right w-full">
    <i class="pi">
      <i title="Try online search for foreign language" class="pi pi-language mr-1" :onclick="foreignSearch"></i>
      <i title="Clear search box" class="pi pi-eraser" :onclick="resetSearch"></i>
    </i>
    <InputText id="input-search" v-model="searchInput" placeholder="Search" class="w-full" @change="executeSearch($event)"></InputText>
  </span>
  <div class="card w-full" style="height: calc(100vh - var(--co-main) - var(--co-tabs) - var(--co-deck-footer) - var(--co-search-input))">
    <div>
      <DataTable
        scrollable
        scroll-height="calc(100vh - var(--co-main) - var(--co-tabs) - var(--co-deck-footer) - var(--co-search-input))"
        sortable
        :value="searchResults"
        show-grid-lines
        column-resize-mode="expand"
        class="w-full h-full"
        data-key="id"
        @row-click="previewCard"
      >
        <Column field="id" style="width: 25px" header="ID">
          <template #body="{ data }">
            <Badge v-tooltip="data.scryfallUri" :value="data.id" />
            <Image :src="data.cipNormal" alt="" height="40" preview></Image>
          </template>
        </Column>
        <Column sortable field="englishName" header="Name">
          <template #body="{ data }">
            <div
              style="user-select: none"
              :class="['p-datatable-reorderablerow-handle']"
              class="w-full"
              draggable="true"
              @mousedown="startDrag($event, data.id)"
              @mouseup="stopDrag"
            >
              <SetRarity :rarity="data.rarity" :code="data.editionCode" />
              {{ data.englishName }}<br />
              <span class="text-sm text-color-secondary overflow-hidden">{{ data.type }}</span>
            </div>
          </template>
        </Column>
        <Column sortable field="cmc" header="Costs">
          <template #body="{ data }">
            <ManaCosts :cost="data.cost" />
          </template>
        </Column>
      </DataTable>
    </div>
  </div>
</template>

<script setup lang="ts">
import InputText from 'primevue/inputtext';
import DataTable, { DataTableRowClickEvent } from 'primevue/datatable';
import Column from 'primevue/column';
import Image from 'primevue/image';
import SetRarity from './shared/SetRarity.vue';
import ManaCosts from './shared/ManaCosts.vue';
import { storeToRefs } from 'pinia';
import { useViewStore } from '@renderer/stores/view';
import * as Scry from 'scryfall-sdk';
import EventHandler from '@renderer/utils/eventHandler';

const viewStore = useViewStore();
const { draggedSearchCard, searchResults, searchInput } = storeToRefs(viewStore);

function startDrag(_ev: Event, id: string): void {
  // console.log('start', arguments, _ev, id);
  draggedSearchCard.value = window.modelService.Cards.byId(id);
}

function stopDrag(): void {
  // console.log('stop', arguments);
  draggedSearchCard.value = null;
}

function previewCard(ev: DataTableRowClickEvent): void {
  viewStore.showPreview(window.modelService.Cards.byId(ev.data.id));
}

function executeSearch(ev: Event): void {
  if ((ev.target as HTMLInputElement).value.length > 2) {
    const result = window.modelService.Cards.search((ev.target as HTMLInputElement).value);
    searchResults.value = result;
  } else {
    searchResults.value = [];
  }
}

function resetSearch(): void {
  searchInput.value = '';
  (document.querySelector('#input-search') as HTMLInputElement).focus();
}

async function foreignSearch(): Promise<void> {
  if (searchInput.value.length >= 3) {
    const el = document.querySelector('#input-search') as HTMLInputElement;
    el.disabled = true;
    try {
      const foreignCard = await Scry.Cards.byName(searchInput.value, true);
      if (foreignCard) {
        const result = window.modelService.Cards.search(foreignCard.name);
        searchResults.value = result;
      }
    } catch (err) {
      el.classList.add('border-red-700');
      setTimeout(() => el.classList.remove('border-red-700'), 1000);
      EventHandler.emit('show-warning', err);
    } finally {
      el.disabled = false;
    }
  }
}
</script>
