<template>
  <TabView v-model:activeIndex="activeDeckTableTab" class="w-full">
    <TabPanel
      v-for="(label, index) in deckTableTabs"
      :key="index"
      :header="label"
      :pt="{
        header: () => ({
          class: 'deck-' + index
        })
      }"
    >
      <DeckPanel :path="index as string"></DeckPanel>
    </TabPanel>
  </TabView>
</template>

<script setup lang="ts">
import { onMounted, onUnmounted } from 'vue';
import DeckPanel from './panel/DeckPanel.vue';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import EventHandler from '@renderer/utils/eventHandler';
import DeckHandler from '@renderer/utils/deckHandler';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import MagicCard from '@model/types/MagicCard';
import { Board } from '@model/enums';

const decksStore = useDecksStore();
const { activeDeckTableTab, activeDeckTablePath, deckTableTabs, loadedDecks } = storeToRefs(decksStore);

onMounted(() => {
  EventHandler.on('add-card-to-deck', addCardCallback);
});

onUnmounted(() => {
  EventHandler.off('add-card-to-deck', addCardCallback);
});

function addCardCallback(card: MagicCard, board: Board): void {
  const path = activeDeckTablePath.value;

  if (path) {
    DeckHandler.addSlot(loadedDecks.value[path]!, card, 1, board);
    DeckHandler.pushSlotsUpdate(loadedDecks.value[path]!);
  }
}
</script>
