<template>
  <div class="card w-full" style="min-height: var(--co-tabs)">
    <TabView v-model:activeIndex="activeDeckTableTab" :scrollable="true">
      <TabPanel
        v-for="(label, index) in deckTableTabs"
        :key="index"
        :header="label"
        :pt="{
          headerAction: () => ({
            onmouseup: (ev: MouseEvent) => {
              if (ev.button === 1) {
                unloadTab(index as string);
              } else if (ev.button === 2) {
                onRightClick(ev, index as string);
              }
            }
          })
        }"
      >
      </TabPanel>
    </TabView>
    <ContextMenu ref="actualContextMenu" :model="contextItems" />
  </div>
</template>

<style scoped>
.p-component {
  font-size: 70%;
  font-weight: normal;
}
.p-tabview-nav-container {
  height: 20px;
}
.p-tabmenu-nav a:focus {
  box-shadow: none !important;
}
</style>

<script setup lang="ts">
import { shallowRef, nextTick } from 'vue';
import TabView from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import ContextMenu from 'primevue/contextmenu';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';

const decksStore = useDecksStore();
const { deckTableTabs, activeDeckTableTab } = storeToRefs(decksStore);

const actualContextMenu = shallowRef<ContextMenu>();
const pathContextMenu = shallowRef('');

function onRightClick(event: Event, path: string): void {
  pathContextMenu.value = path;
  if (actualContextMenu.value) {
    actualContextMenu.value.toggle(event);
  }
}

function unloadTab(path: string): void {
  const oldIndex = activeDeckTableTab.value;
  let i = 0;
  for (const p in deckTableTabs.value) {
    if (p === path) {
      break;
    }
    i++;
  }

  // TODO: move to store, but nextTick?
  decksStore.unloadDeck(path);

  if (i === 0 && oldIndex === 0) {
    // we closed the first tab, when it was already active, no events would be triggered
    activeDeckTableTab.value = -1;
    nextTick(() => {
      activeDeckTableTab.value = 0;
    });
  } else if (oldIndex !== undefined && i <= oldIndex) {
    // we closed the active tab or before
    activeDeckTableTab.value = Math.max(0, oldIndex - 1);
  }
}

const contextItems = [
  {
    label: 'Close Tab',
    icon: 'pi pi-times',
    command: (): void => {
      unloadTab(pathContextMenu.value);
    }
  },
  {
    label: 'Close Others',
    icon: 'pi pi-arrow-right-arrow-left',
    command: (): void => {
      for (const p in deckTableTabs.value) {
        if (p !== pathContextMenu.value) {
          unloadTab(p);
        }
      }
    }
  },
  {
    label: 'Show in file explorer',
    icon: 'pi pi-folder-open',
    command: (): void => {
      window.fileSystem.openShell(pathContextMenu.value);
    }
  }
];
</script>
