<template>
  <div
    v-if="false === hideFileTree && false === hideCommon"
    id="file-tree"
    style="min-width: 173px; height: calc(100vh - var(--co-main) - var(--co-deck-footer) - var(--co-tabs) - var(--co-border))"
    class="card w-full"
  >
    <div class="w-full bg-primary">
      <span class="p-buttonset">
        <template v-if="!flattenFilePaths.length">
          <Button v-tooltip="'Create examples...'" label="" icon="pi pi-star-fill" size="small" severity="danger" @click="createExamples"></Button>
          <Button v-tooltip.top="'Add root folder'" icon="pi pi-plus-circle" label="" size="small" @click="createRootFolder"></Button>
          <Button v-tooltip.top="'Reload tree'" icon="pi pi pi-refresh" label="" size="small" @click="reload"></Button>
        </template>
        <template v-else>
          <Button v-tooltip="'Expand visible'" label="" icon="pi pi-folder-open" size="small" @click="expandAll(true)"></Button>
          <Button v-tooltip.top="'Collapse visible'" label="" icon="pi pi-folder" size="small" @click="expandAll(false)"></Button>
          <Button v-tooltip.top="'Reload tree'" icon="pi pi pi-refresh" label="" size="small" @click="reload"></Button>
          <SplitButton v-tooltip.top="'Reset filter'" :model="splitMenuItems" label="" icon="pi pi-eraser" size="small" @click="resetFilter"></SplitButton>
        </template>
      </span>
    </div>
    <div class="w-full ft-color-filter">
      <span class="p-buttonset">
        <template v-if="flattenFilePaths.length > 0">
          <Button
            v-for="(state, c) in activeColorFilters"
            :key="c"
            :class="state ? 'ft-color-filter-active' : 'ft-color-filter'"
            style="width: auto; border-top-width: 0"
            :icon="'ms ms-' + (c as string).toLowerCase()"
            size="small"
            class="filter-button"
            @click="filterColor(c as string)"
          ></Button>
          <Button
            v-tooltip.bottom="'Favorites'"
            style="width: auto; border-top-width: 0"
            :class="activeFlagFilters['favorite'] ? 'ft-color-filter-active' : 'ft-color-filter'"
            icon="pi pi-heart"
            size="small"
            class="filter-button"
            @click="filterFlag('favorite')"
          ></Button>
          <Button
            v-tooltip.bottom="'Bookmarked'"
            style="width: auto; border-top-width: 0"
            :class="activeFlagFilters['bookmark'] ? 'ft-color-filter-active' : 'ft-color-filter'"
            icon="pi pi-bookmark"
            class="filter-button"
            size="small"
            @click="filterFlag('bookmark')"
          ></Button>
          <Button
            v-tooltip.bottom="'Under construction'"
            style="width: auto; border-top-width: 0"
            :class="activeFlagFilters['construction'] ? 'ft-color-filter-active' : 'ft-color-filter'"
            icon="pi pi-wrench"
            size="small"
            class="filter-button"
            @click="filterFlag('construction')"
          ></Button>
        </template>
      </span>
    </div>
    <Tree
      v-if="treeToggle"
      v-model:selectionKeys="selectedKeys"
      v-model:expandedKeys="expandedKeys"
      :value="deckFileTreeCache as undefined"
      selection-mode="single"
      :filter="true"
      filter-mode="lenient"
      class="w-full p-0"
      :filter-placeholder="'Filter (' + flattenFilePaths.length + ')'"
      :pt="{
        togglerIcon: ({ context }) => ({
          class: context.expanded ? 'pi pi-fw pi-folder-open' : 'pi pi-fw pi-folder'
        }),
        content: ({ context }) => ({
          class: deckFileTreeCache![context.index] && deckFileTreeCache![context.index].isSpecial ? 'p-tree-special' : ''
        })
      }"
    >
      <template #default="{ node }">
        <div
          class="w-full"
          @dblclick="onDblClick(node)"
          @contextmenu="onRightClick($event, node)"
          @mousedown="onStartDrag($event, node)"
          @mouseup="onStopDrag($event, node)"
        >
          <ManaCosts v-if="node.leaf" :cost="node.key"></ManaCosts>
          <span v-if="node.leaf && node.flags?.includes('construction')" class="pi pi-wrench mr-1"></span>
          <span v-if="node.leaf && node.flags?.includes('favorite')" class="pi pi-heart mr-1"></span>
          <span v-if="node.leaf && node.flags?.includes('bookmark')" class="pi pi-bookmark mr-1"></span>
          {{ node.label }}
        </div>
      </template>
    </Tree>
    <ContextMenu ref="actualContextMenu" :model="openedMenuItems" />
  </div>
  <div class="fixed hide-file-tree">
    <ToggleButton v-model="hideFileTree" on-label="" off-label="" on-icon="pi pi-chevron-right" off-icon="pi pi-chevron-left" class="w-2rem" />
  </div>
  <Dialog v-if="openedMenuNode && renameInputValue" v-model:visible="showRenamePrompt" modal header="Rename" :style="{ width: '50vw' }" position="topleft">
    <InputText
      v-model="renameInputValue"
      type="text"
      class="w-full"
      autofocus
      @focus="($event.target as HTMLInputElement).select()"
      @keyup.enter="
        renameSelectedNode();
        showRenamePrompt = false;
      "
    />
    <template #footer>
      <Button label="Cancel" icon="pi pi-ban" text @click="showRenamePrompt = false"></Button>
      <Button
        label="Confirm"
        icon="pi pi-check"
        autofocus
        @click="
          renameSelectedNode();
          showRenamePrompt = false;
        "
      ></Button>
    </template>
  </Dialog>
  <Dialog v-if="openedMenuNode" v-model:visible="showAddPrompt" modal :header="'Create ' + addType" :style="{ width: '50vw' }" position="topleft">
    <InputText
      v-model="addInputValue"
      type="text"
      class="w-full"
      autofocus
      @focus="($event.target as HTMLInputElement).select()"
      @keyup.enter="
        addToSelectedNode();
        showAddPrompt = false;
      "
    />
    <template #footer>
      <Button label="Cancel" icon="pi pi-ban" text @click="showAddPrompt = false"></Button>
      <Button
        label="Create"
        icon="pi pi-check"
        autofocus
        @click="
          addToSelectedNode();
          showAddPrompt = false;
        "
      ></Button>
    </template>
  </Dialog>
  <ConfirmDialog></ConfirmDialog>
</template>

<style>
#file-tree .p-tree {
  padding: 0;
}
#file-tree .p-tree .p-tree-container {
  padding-bottom: 30px;
}
#file-tree .p-tree .p-treenode-label {
  width: 100%;
  display: inline-block;
}
#file-tree .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  border-radius: 0% !important;
}
#file-tree .p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus {
  box-shadow: none !important;
}
#file-tree .p-tree .p-treenode-leaf > .p-treenode-content .p-tree-toggler {
  display: none !important;
}
#file-tree .p-tree li[role='treeitem']:not(.p-treenode-leaf) > .p-treenode-content > .p-treenode-icon {
  display: none !important;
}
#file-tree .p-tree .p-tree-special {
  opacity: 0.6;
}
#file-tree .filter-button {
  font-size: 0.875rem !important;
  padding: 0.21875rem 0.21875rem !important;
}
</style>

<script setup lang="ts">
import { ref, shallowRef, watch, onMounted, nextTick, onUnmounted } from 'vue';
import { useConfirm } from 'primevue/useconfirm';
import Tree from 'primevue/tree';
import ContextMenu from 'primevue/contextmenu';
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import ConfirmDialog from 'primevue/confirmdialog';
import ToggleButton from 'primevue/togglebutton';
import Button from 'primevue/button';
import SplitButton from 'primevue/splitbutton';
import ManaCosts from './shared/ManaCosts.vue';
import DeckHandler from '@renderer/utils/deckHandler';
import EventHandler from '@renderer/utils/eventHandler';
import DeckMeta from '@model/types/DeckMeta';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import { useFilesStore } from '@renderer/stores/files';
import { FileTreeNode, FileTreeNodeBase } from '@model/interfaces/Storage';
import { StrBool } from '@model/interfaces/KeyPairs';
import { MenuItem } from 'primevue/menuitem';
import { SPECIAL_FOLDERS, DeckFlag } from '@model/enums';

const confirm = useConfirm();

const decksStore = useDecksStore();
const viewStore = useViewStore();
const filesStore = useFilesStore();
const { loadedDecks, deckTableTabs, activeDeckTableTab } = storeToRefs(decksStore);
const { hideFileTree, hideCommon } = storeToRefs(viewStore);
const { deckFileRoot, deckFileTree, flattenFilePaths } = storeToRefs(filesStore);

const selectedKeys = ref<StrBool>({});
const expandedKeys = ref<StrBool>({});
const treeToggle = shallowRef(true);

const deckFileTreeCache = ref<FileTreeNode[] | undefined>();
const activeColorFilters = ref<StrBool>({ B: false, G: false, R: false, U: false, W: false, C: false });
const activeFlagFilters = ref<{ [index in DeckFlag]: boolean }>({ construction: false, favorite: false, bookmark: false });
const openedMenuNode = ref<FileTreeNodeBase>();
const openedMenuItems = ref<MenuItem[]>([]);
const draggedMenuNode = ref<FileTreeNode>();
const actualContextMenu = ref<ContextMenu>();

const showAddPrompt = shallowRef(false);
const addInputValue = shallowRef('');
const addType = shallowRef<'File' | 'Folder'>();

const showRenamePrompt = shallowRef(false);
const renameInputValue = shallowRef('');

EventHandler.on('load-deck', loadDeck);

onMounted(() => {
  deckFileTreeCache.value = deckFileTree.value;

  try {
    const openedDecks = JSON.parse(localStorage.getItem('opened-decks')!);
    if (openedDecks) {
      openedDecks.forEach(({ path }: { path: string }) => {
        loadDeck(path);
      });
    }
  } catch (err) {
    console.warn(err);
  }

  EventHandler.on('reload-deck-tree', reload);
});

onUnmounted(() => {
  EventHandler.off('reload-deck-tree');
});

watch(deckTableTabs.value, () => {
  const openedDecks = [];
  for (const path in deckTableTabs.value) {
    if (deckTableTabs.value[path] !== undefined) {
      openedDecks.push({ path });
    }
  }

  const json = JSON.stringify(openedDecks);
  localStorage.setItem('opened-decks', json);
});

watch(deckFileTree, refreshFilters);

function onRightClick(event: Event, node: FileTreeNode): void {
  openedMenuNode.value = node;
  if (node.leaf) {
    openedMenuItems.value = contextItemsFile;
  } else {
    openedMenuItems.value = contextItemsDir;
  }

  // mark as selected when right clicking to avoid file operation trouble
  selectedKeys.value = {};
  selectedKeys.value[node.key] = true;
  actualContextMenu.value!.toggle(event);
}

async function loadDeck(path: string): Promise<void> {
  // console.info('Load deck', path);

  if (loadedDecks.value[path] === undefined) {
    const deck = DeckHandler.createDeckFromPath(path);
    if (deck) {
      // console.log(deck, path);
      decksStore.loadDeck(path, deck);
    }
  } else {
    // find the already opended deck
    let i = 0;
    for (const p in deckTableTabs.value) {
      if (p === path) {
        activeDeckTableTab.value = i;
        break;
      }

      i++;
    }
  }
}

function onDblClick(node: FileTreeNode): void {
  if (node.leaf) {
    loadDeck(node.key);
  } else {
    // expand/collapse folder
    expandedKeys.value[node.key] = expandedKeys.value[node.key] === true ? false : true;
  }
}

function expandAll(state: boolean): void {
  // there is no way to get filetered items/folders only, so do it old fashion
  const items = document.querySelectorAll('li[role="treeitem"]:not(.p-treenode-leaf)');
  items.forEach((item) => {
    if (item.getAttribute('aria-expanded') != (state ? 'true' : 'false')) {
      // simulate double click on each folder
      item.querySelector('.p-treenode-label .w-full')!.dispatchEvent(
        new MouseEvent('dblclick', {
          view: window,
          bubbles: true,
          cancelable: false
        })
      );
    }
  });
}

function createExamples(): void {
  window.dataService.createExampleDecks();
  reload();
}

function reload(): void {
  window.dataService.reloadDecks();
}

function resetFilter(): void {
  deckFileTreeCache.value = deckFileTree.value;
  treeToggle.value = false;

  for (const c in activeColorFilters.value) {
    activeColorFilters.value[c] = false;
  }

  activeFlagFilters.value['bookmark'] = false;
  activeFlagFilters.value['favorite'] = false;
  activeFlagFilters.value['construction'] = false;

  nextTick(() => {
    treeToggle.value = true;
  });
}

function onStartDrag(_ev: Event, node: FileTreeNode): void {
  // console.log('start', ev, node);
  draggedMenuNode.value = node;
}

function onStopDrag(_ev: Event, node: FileTreeNode): void {
  // drag only on folders and not on same node
  if (draggedMenuNode.value && draggedMenuNode.value.key !== node.key && !node.leaf) {
    let moved = false;
    if (draggedMenuNode.value.leaf) {
      moved = window.fileSystem.moveFile(draggedMenuNode.value.key, node.key);
    } else {
      moved = window.fileSystem.moveFolder(draggedMenuNode.value.key, node.key);
    }

    if (moved) {
      window.dataService.reloadDecks();
    }
  }

  delete draggedMenuNode.value;
}

function renameSelectedNode(): void {
  if (openedMenuNode.value && renameInputValue.value.length > 0 && openedMenuNode.value.label !== renameInputValue.value) {
    let renamed = false;
    if (openedMenuNode.value.leaf) {
      renamed = window.fileSystem.renameFile(openedMenuNode.value.key, renameInputValue.value);
    } else {
      renamed = window.fileSystem.renameFolder(openedMenuNode.value.key, renameInputValue.value);
    }

    if (renamed) {
      window.dataService.reloadDecks();
    }
  }
}

function addToSelectedNode(): void {
  if (openedMenuNode.value && addInputValue.value.length > 0 && addInputValue.value && addInputValue.value.trim() !== '') {
    // open parent
    expandedKeys.value[openedMenuNode.value.key] = true;

    if (addType.value === 'File') {
      const newPath = window.fileSystem.addFile(
        addInputValue.value,
        openedMenuNode.value.key,
        JSON.stringify(Object.assign(new DeckMeta(), { slots: [] }))
      ) as string;

      if (newPath) {
        window.dataService.reloadDecks(() => loadDeck(newPath));
      }
    } else if (window.fileSystem.addFolder(addInputValue.value, openedMenuNode.value.key)) {
      window.dataService.reloadDecks();
    }
  }
}

function deleteSelectedNode(node: FileTreeNodeBase): void {
  if (node.leaf) {
    confirm.require({
      message: 'Do you really want to delete this deck "' + node.key + '"?',
      header: 'Delete Confirmation',
      icon: 'pi pi-info-circle',
      acceptClass: 'p-button-danger',
      accept: () => {
        if (window.fileSystem.deleteFile(node.key)) {
          window.dataService.reloadDecks();
        }
      },
      reject: () => {}
    });
  } else {
    confirm.require({
      message: 'Do you really want to delete this folder "' + node.key + '"?',
      header: 'Delete Confirmation',
      icon: 'pi pi-info-circle',
      acceptClass: 'p-button-danger',
      accept: () => {
        if (window.fileSystem.deleteFolder(node.key)) {
          window.dataService.reloadDecks();
        }
      },
      reject: () => {}
    });
  }
}

function createRootFolder(): void {
  openedMenuNode.value = { key: deckFileRoot.value, label: '', leaf: false };
  addType.value = 'Folder';
  addInputValue.value = 'New folder';
  showAddPrompt.value = true;
}

function filterColor(color: string): void {
  activeColorFilters.value[color] = !activeColorFilters.value[color];
  refreshFilters();
}

function filterFlag(flag: DeckFlag): void {
  activeFlagFilters.value[flag] = !activeFlagFilters.value[flag];
  refreshFilters();
}

function refreshFilters(): void {
  const showColors: string[] = [];
  const showFlags: DeckFlag[] = [];
  let showColorless = false;

  for (const c in activeColorFilters.value) {
    if (!activeColorFilters.value[c]) {
      if (c === 'C') {
        showColorless = true;
      } else {
        showColors.push(c);
      }
    }
  }

  if (!activeFlagFilters.value['bookmark']) {
    showFlags.push('bookmark');
  }

  if (!activeFlagFilters.value['favorite']) {
    showFlags.push('favorite');
  }

  if (!activeFlagFilters.value['construction']) {
    showFlags.push('construction');
  }

  // no filter, so show empty dirs and skip recursion
  if (showFlags.length === 3 && showColors.length === 5 && showColorless) {
    deckFileTreeCache.value = deckFileTree.value;
    return;
  }

  const collectChildren = (nodes: FileTreeNode[]): FileTreeNode[] | undefined => {
    const res = [];
    for (let i = 0, j = 0; i < nodes.length; i++) {
      if (!nodes[i].leaf) {
        const children = collectChildren(nodes[i].children);
        if (undefined !== children) {
          res[j] = Object.assign({}, nodes[i]);
          res[j].children = children;
          j++;
        }
      } else {
        const isColorLess = !nodes[i].colors || nodes[i].colors.length === 0; // count undefined as colorless
        const includeColor = (isColorLess && showColorless) || (!isColorLess && nodes[i].colors.find((c: string) => showColors.includes(c)));
        const includeFlag = showFlags.length === 3 || (nodes[i].flags && nodes[i].flags.find((c: DeckFlag) => showFlags.includes(c)));

        if (includeColor && includeFlag) {
          // check for length for decks without colors
          res[j++] = nodes[i];
        }
      }
    }

    return res.length > 0 ? res : undefined;
  };

  const fileTreeCopy = collectChildren(deckFileTree.value);
  deckFileTreeCache.value = fileTreeCopy ?? [];
}

const splitMenuItems = [
  /*{
    label: 'Reload Tree',
    icon: 'pi pi-refresh',
    command: (): void => {
      reload();
    }
  },*/
  {
    label: 'New Root Folder',
    icon: 'pi pi-plus-circle',
    command: (): void => {
      createRootFolder();
    }
  },
  {
    label: 'Create Draft Folder',
    icon: 'pi pi-box',
    command: (): void => {
      window.fileSystem.addFolder(SPECIAL_FOLDERS.DRAFT, deckFileRoot.value);
      window.dataService.reloadDecks();
    }
  }
];

const contextItemsFile = [
  {
    label: 'Open',
    icon: 'pi pi-table',
    command: (): void => {
      if (openedMenuNode.value) {
        loadDeck(openedMenuNode.value.key);
      }
    }
  },
  {
    label: 'Rename',
    icon: 'pi pi-pencil',
    command: (): void => {
      if (openedMenuNode.value) {
        renameInputValue.value = openedMenuNode.value.label;
        showRenamePrompt.value = true;
      }
    }
  },
  {
    label: 'Delete',
    icon: 'pi pi-trash',
    command: (): void => {
      if (openedMenuNode.value) {
        deleteSelectedNode(openedMenuNode.value);
      }
    }
  }
];

const contextItemsDir = [
  {
    label: 'New Deck',
    icon: 'pi pi-plus',
    command: (): void => {
      addType.value = 'File';
      addInputValue.value = 'New deck';
      showAddPrompt.value = true;
    }
  },
  {
    label: 'New Folder',
    icon: 'pi pi-plus-circle',
    command: (): void => {
      addType.value = 'Folder';
      addInputValue.value = 'New folder';
      showAddPrompt.value = true;
    }
  },
  {
    label: 'Rename',
    icon: 'pi pi-pencil',
    command: (): void => {
      if (openedMenuNode.value) {
        renameInputValue.value = openedMenuNode.value.label;
        showRenamePrompt.value = true;
      }
    }
  },
  {
    label: 'Delete',
    icon: 'pi pi-trash',
    command: (): void => {
      if (openedMenuNode.value) {
        deleteSelectedNode(openedMenuNode.value);
      }
    }
  }
];
</script>
