<template>
  <Sidebar v-model:visible="drawSidebar" position="bottom" style="height: 240px" @show="onDrawSidebarShown">
    <div class="grid">
      <div class="col-2">
        <Button severity="secondary" class="w-full mb-2" label="New seven" @click="resetLibrary"></Button><br />
        <Button severity="secondary" class="w-full mb-2" label="Draw card" @click="activePlayLibrary!.drawCards(1)"></Button><br />
      </div>
      <div v-if="activePlayLibrary" class="col-10">
        <span v-for="(card, index) in activePlayLibrary.hand" :key="index">
          <img :src="card.cipNormal" width="100" :title="card.englishName" @dblclick="activePlayLibrary!.moveFromHand(index)" />
        </span>
      </div>
    </div>
    <template #header>
      <div class="flex fixed text-color-sencond" style="left: 15px; top: 10px; width: 70%">
        <span>Hand: {{ activePlayLibrary?.hand.length }} &middot;&nbsp;</span>
        <span>Library: {{ activePlayLibrary?.library.length }} &middot;&nbsp;</span>
        <span>Play: {{ activePlayLibrary?.battleField.length }}&nbsp;(double click)</span>
      </div>
    </template>
  </Sidebar>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import Sidebar from 'primevue/sidebar';
import Button from 'primevue/button';
import PlayLibrary from '@model/types/PlayLibrary';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { usePlaysStore } from '@renderer/stores/plays';
import { useViewStore } from '@renderer/stores/view';

const decksStore = useDecksStore();
const playsStore = usePlaysStore();
const { loadedDecks, activeDeckTablePath } = storeToRefs(decksStore);
const { playLibraries } = storeToRefs(playsStore);

const viewStore = useViewStore();
const { drawSidebar } = storeToRefs(viewStore);
const activePlayLibrary = ref<PlayLibrary>();

watch(activeDeckTablePath, () => {
  if (activeDeckTablePath.value && activeDeckTablePath.value in playLibraries.value) {
    activePlayLibrary.value = playLibraries.value[activeDeckTablePath.value];
  } else {
    activePlayLibrary.value = undefined;
  }
});

function onDrawSidebarShown(): void {
  if (activeDeckTablePath.value) {
    if (activeDeckTablePath.value in playLibraries.value) {
      activePlayLibrary.value = playLibraries.value[activeDeckTablePath.value];
    } else {
      resetLibrary();
    }
  }
}

function resetLibrary(): void {
  if (activeDeckTablePath.value) {
    const pl = new PlayLibrary(loadedDecks.value[activeDeckTablePath.value]!.slots.filter((slot) => slot.board === 'main'));
    pl.restart();
    playLibraries.value[activeDeckTablePath.value] = pl;
    activePlayLibrary.value = playLibraries.value[activeDeckTablePath.value];
  }
}
</script>
