<template>
  <Dropdown v-model="activeTheme" :options="themes" title="Theme" option-label="name" option-value="folder" class="w-12rem mr-2">
    <template #value="slotProps">
      <div class="flex align-items-center">
        <div>{{ themes.find((th) => th.folder === slotProps.value)?.name }} Theme</div>
      </div>
    </template>
    <template #option="slotProps">
      <div class="flex align-items-center">
        <div>
          {{ slotProps.option.name }}
          <div class="text-sm">{{ slotProps.option.long }}</div>
        </div>
      </div>
    </template>
  </Dropdown>
</template>

<script setup lang="ts">
import { shallowRef, watch } from 'vue';
import Dropdown from 'primevue/dropdown';

const activeTheme = shallowRef('nano');

const themes = shallowRef([
  { name: 'Nano', long: 'Light, compact (Default)', mode: 'light', folder: 'nano' },
  // { name: 'Rhea', long: 'Light, spacious, high contrast', mode: 'light', folder: 'rhea' },
  { name: 'Boot-Blue', long: 'Light, Bootstrap Blue', mode: 'light', folder: 'bootstrap4-light-blue' },
  { name: 'Boot-Blue', long: 'Dark, Bootstrap Blue', mode: 'dark', folder: 'bootstrap4-dark-blue' },
  { name: 'Viva', long: 'Darker, spacious', mode: 'dark', folder: 'viva-dark' },
  { name: 'Luna-Pink', long: 'Dark, spacious, high contrast', mode: 'dark', folder: 'luna-pink' }
]);

watch(activeTheme, () => {
  localStorage.setItem('active-theme', activeTheme.value.toString());
  changeTheme(activeTheme.value);
});

changeTheme(localStorage.getItem('active-theme'));

function changeTheme(themeFolder: string | null): void {
  if (themeFolder) {
    const themeConfig = themes.value.find((th) => th.folder === themeFolder);
    if (themeConfig && themeConfig.folder) {
      createStylesheet('theme-font', window.appService.getRootCssPath('fonts'));
      createStylesheet('theme-style', window.appService.getThemeCssPath(themeConfig.folder, 'theme'));
      createStylesheet('theme-fix', window.appService.getThemeCssPath(themeConfig.folder, 'fix'));
      document.documentElement.querySelector('body')!.className = themeFolder + ' ' + themeConfig.mode + ' ' + window.electron.process.platform;

      activeTheme.value = themeFolder;
      return;
    }
  }

  changeTheme('nano'); // fallback
}

function createStylesheet(cssId: string, url: string): void {
  const el = document.getElementById(cssId) as HTMLLinkElement;
  if (!el) {
    const head = document.getElementsByTagName('head')[0];
    const link = document.createElement('link');
    link.id = cssId;
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = url;
    link.media = 'all';
    head.appendChild(link);
  } else {
    el.href = url;
  }
}
</script>
