:root {
  /* main nav */
  --co-main: 65px;
  /** offset from bottom */
  --co-deck-footer: 45px;
  /** offset from bottom */
  --co-main-footer: 9px;
  /** deck tabs **/
  --co-tabs: 69px;
  /** search input box height */
  --co-search-input: 39px;
}

.linux {
  --co-deck-footer: 44px;
}

body {
  background-color: var(--surface-e) !important;
}

/* losing much space around tabs */
.p-tabview .p-tabview-panels {
  padding: 0.75rem;
}
/* way too much padding in cells */
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem;
}
/* highlight only with borders does not work for bottom tabs */
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: var(--highlight-bg);
}
.p-divider.p-divider-horizontal {
  margin: 0.3rem;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: auto;
  height: auto;
}
.hide-file-tree {
  bottom: 4px !important;
}
.preferences-bar {
  top: 8px !important;
}
.ft-color-filter {
  background-color: var(--blue-100);
}
.ft-color-filter .p-button {
  padding: 0.5rem;
}
.ft-color-filter-active {
  background-color: var(--blue-50);
}
.deck-status-container {
  left: 459px !important;
}
.p-datatable .p-inputtext {
  padding: 0.2rem 0.3rem;
}