:root {
  /* main nav */
  --co-main: 71px;
  /** offset from bottom */
  --co-deck-footer: 42px;
  /** offset from bottom */
  --co-main-footer: 9px;
  /** deck tabs **/
  --co-tabs: 64px;
  /** search input box height */
  --co-search-input: 38px;
}
body {
  background-color: var(--surface-e) !important;
}

.p-tabview .p-tabview-panels {
  padding: 0.75rem;
  border: none;
}
/* way too much padding in cells */
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem;
}
.p-divider.p-divider-horizontal {
  margin: 0.3rem;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: auto;
  height: auto;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: 0.286rem !important;
}
.preferences-bar {
  top: 8px !important;
}
.ft-color-filter {
  background-color: var(--pink-100);
}
.ft-color-filter .p-button {
  border: none;
  padding: 0.5rem;
}
.ft-color-filter-active {
  background-color: var(--blue-50);
}
.deck-status-container {
  left: 477px !important;
}
/* .p-inputtext {
  padding: 0.2rem 0.2rem;
} */
