<template>
  <div @drop.prevent="onDrop">
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import { onMounted, onUnmounted } from 'vue';

const emit = defineEmits(['dropped']);
const events = ['dragenter', 'dragover', 'dragleave', 'drop'];

onMounted(() => {
  events.forEach((eventName) => {
    document.body.addEventListener(eventName, preventDefaults);
  });
});

onUnmounted(() => {
  events.forEach((eventName) => {
    document.body.removeEventListener(eventName, preventDefaults);
  });
});

function onDrop(ev: Event): void {
  emit('dropped', ev);
}

function preventDefaults(ev: Event): void {
  ev.preventDefault();
}
</script>
