<template>
  <span>
    <img v-for="index in symbolCodes.length" :key="index" :src="symbolUrls[index - 1]" :height="props.size" />
  </span>
</template>

<script setup lang="ts">
import { toRefs, shallowRef, onMounted, watch } from 'vue';
import { splitSymbols } from '@renderer/utils/symbolHelper';

const props = defineProps({
  cost: { type: String, required: true },
  size: { type: Number, default: 14 }
});

const { cost } = toRefs(props);
const symbolUrls = shallowRef<string[]>([]);
const symbolCodes = shallowRef<string[]>([]);

onMounted(() => updateRefs(props.cost));
watch(cost, updateRefs);

function updateRefs(cost: string | undefined): void {
  if (cost !== undefined) {
    const urls: string[] = [];
    const codes = splitSymbols(cost);
    for (const k in codes) {
      const symbol = window.modelService.Symbols.get(codes[k]);
      urls.push(symbol.cip);
    }

    symbolCodes.value = codes;
    symbolUrls.value = urls;
  }
}
</script>
