<template>
  <span v-if="edition" v-tooltip="edition.name + ' (' + rarity + ')'" :class="'sr ' + bgClass" :style="'background-image: url(' + edition.cip + ')'"></span>
</template>

<style scoped>
/* https://angel-rs.github.io/css-color-filter-generator/ */
.light .sr-uncommon {
  filter: brightness(0) saturate(100%) invert(47%) sepia(32%) saturate(336%) hue-rotate(152deg) brightness(74%) contrast(87%);
}
.light .sr-rare {
  filter: brightness(0) saturate(100%) invert(39%) sepia(66%) saturate(267%) hue-rotate(1deg) brightness(96%) contrast(85%);
}
.light .sr-mythic {
  filter: brightness(0) saturate(100%) invert(38%) sepia(34%) saturate(1102%) hue-rotate(344deg) brightness(74%) contrast(84%);
}
.light .sr-special {
  filter: brightness(0) saturate(100%) invert(46%) sepia(26%) saturate(637%) hue-rotate(235deg) brightness(74%) contrast(89%);
}
.light .sr-default {
  filter: brightness(0) saturate(100%) invert(0%) sepia(5%) saturate(5453%) hue-rotate(318deg) brightness(90%) contrast(73%);
}
.dark .sr-uncommon {
  filter: brightness(0) saturate(100%) invert(69%) sepia(29%) saturate(319%) hue-rotate(150deg) brightness(90%) contrast(94%);
}
.dark .sr-rare {
  filter: brightness(0) saturate(100%) invert(51%) sepia(91%) saturate(740%) hue-rotate(19deg) brightness(97%) contrast(99%);
}
.dark .sr-mythic {
  filter: brightness(0) saturate(100%) invert(55%) sepia(57%) saturate(620%) hue-rotate(342deg) brightness(84%) contrast(86%);
}
.dark .sr-special {
  filter: brightness(0) saturate(100%) invert(69%) sepia(91%) saturate(2745%) hue-rotate(200deg) brightness(100%) contrast(104%);
}
.dark .sr-default {
  filter: brightness(0) saturate(100%) invert(85%) sepia(1%) saturate(0%) hue-rotate(34deg) brightness(110%) contrast(102%);
}
.sr {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 25% 25%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}
</style>

<script setup lang="ts">
import { toRefs, shallowRef, onMounted, PropType, watch } from 'vue';
import MagicEdition from '@model/types/MagicEdition';
import { CardRarity } from '@model/enums';

const props = defineProps({
  rarity: { type: String as PropType<CardRarity>, required: true },
  code: { type: String, required: true }
});

const { rarity, code } = toRefs(props);
const edition = shallowRef<MagicEdition>();
const bgClass = shallowRef('default');

onMounted(updateRefs);

// data table does refresh correctly
watch(rarity, updateRefs);
watch(code, updateRefs);

function updateRefs(): void {
  edition.value = window.modelService.Editions.get(code.value);

  switch (rarity.value) {
    case 'uncommon':
      bgClass.value = 'sr-uncommon';
      break;
    case 'rare':
      bgClass.value = 'sr-rare';
      break;
    case 'mythic':
      bgClass.value = 'sr-mythic';
      break;
    case 'special':
    case 'bonus':
      bgClass.value = 'sr-special';
      break;
    default:
      bgClass.value = 'sr-default';
      break;
  }
}
</script>
