:root {
  /* main nav */
  --co-main: 61px;
  /** offset from bottom */
  --co-deck-footer: 45px;
  /** offset from bottom */
  --co-main-footer: 9px;
  /** deck tabs **/
  --co-tabs: 53px;
  /** search input box height */
  --co-search-input: 31px;
}

.linux {
  --co-deck-footer: 44px;
}

.ft-color-filter {
  background-color: var(--blue-400);
}
.ft-color-filter-active {
  background-color: var(--blue-100);
}