:root {
  /* main nav */
  --co-main: 79px;
  /** offset from bottom */
  --co-deck-footer: 52px;
  /** offset from bottom */
  --co-main-footer: 9px;
  /** deck tabs **/
  --co-tabs: 69px;
  /** search input box height */
  --co-search-input: 49px;
}

body {
  background-color: var(--surface-e) !important;
}

/* losing much space around tabs */
.p-tabview .p-tabview-panels {
  padding: 0.75rem;
}
/* way too much padding in cells */
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.25rem 1rem;
}
.p-divider.p-divider-horizontal {
  margin: 0.3rem;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: auto;
  height: auto;
}
.preferences-bar {
  top: 8px !important;
}
.hide-file-tree {
  bottom: 3px !important;
}
.ft-color-filter {
  background-color: var(--blue-100);
}
.ft-color-filter .p-button {
  padding: 0.5rem;
}
.ft-color-filter-active {
  background-color: var(--blue-50);
}
.deck-status-container {
  left: 458px !important;
}
.p-datatable .p-inputtext {
  padding: 0.2rem 0.2rem;
}
