<template>
  <DataTable
    selection-mode="single"
    sort-mode="multiple"
    edit-mode="cell"
    :value="cardSlots"
    :reorderable-columns="true"
    :multi-sort-meta="[
      { field: 'cmcString', order: 1 },
      { field: 'typeSortString', order: 1 }
    ]"
    :context-menu-selection="contextMenuSelection"
    :row-class="rowClass"
    :pt="{
      bodyRow: {
        onfocus: ($event: FocusEvent) => onRowFocus($event)
      }
    }"
    context-menu
    resizable-columns
    removable-sort
    column-resize-mode="expand"
    show-grid-lines
    class="w-full"
    @row-click="onRowClick"
    @cell-edit-complete="onCellEdited"
    @row-contextmenu="onRowContextMenu"
  >
    <Column v-if="showThumb" field="id" style="width: 25px" header="ID">
      <template #body="{ data }">
        <Image v-tooltip="data.oracleId" :src="data.linkedCard.cipNormal" alt="" height="40" preview></Image>
      </template>
    </Column>
    <Column sortable field="typeSortString" header="Name/Type">
      <template #body="{ data }">
        <div>
          <SetRarity :rarity="data.rarity" :code="data.editionCode" />
          <span class="cn">{{ data.linkedCard.englishName }}</span>
          <br />
          <span class="text-sm text-color-secondary" name="type-line" :data-oracle-id="data.oracleId">{{ data.linkedCard.type }}</span>
        </div>
      </template>
    </Column>
    <Column sortable field="cmcString" header="Cost">
      <template #body="{ data }">
        <ManaCosts v-tooltip="data.cmcString" :cost="data.cost" />
      </template>
    </Column>
    <Column sortable field="power" header="P"></Column>
    <Column sortable field="combinedDefense" header="T/L"></Column>
    <Column sortable field="quantity" header="#" class="text-center">
      <template #editor="{ data, field }">
        <InputNumber
          v-model="data[field]"
          autofocus
          :use-grouping="false"
          :allow-empty="false"
          :input-style="{ width: '28px' }"
          :min="1"
          :max="99"
          @focus="($event.target as HTMLInputElement).select()"
        />
      </template>
    </Column>
    <Column sortable field="comment" header="Comment">
      <template #editor="{ data, field }">
        <InputText v-model="data[field]" autofocus type="text" class="p-inputtext-sm w-11" @keydown="onCommentInput($event, data.oracleId)" />
      </template>
    </Column>
  </DataTable>
</template>

<script setup lang="ts">
import { PropType, shallowRef, toRefs } from 'vue';
import DataTable, { DataTableCellEditCancelEvent } from 'primevue/datatable';
import Column from 'primevue/column';
import Image from 'primevue/image';
import InputNumber from 'primevue/inputnumber';
import InputText from 'primevue/inputtext';
import SetRarity from '../../shared/SetRarity.vue';
import ManaCosts from '../../shared/ManaCosts.vue';
import DeckSlot from '@model/types/DeckSlot';
import { EditableSlotFields } from '@renderer/utils/deckHandler';

const props = defineProps({
  onCellEdited: {
    required: true,
    type: Function as PropType<(e: { field: EditableSlotFields; data: { oracleId: string }; value: string | number; newValue: string | number }) => void>
  },
  onRowClick: {
    required: true,
    type: Function as PropType<(e: DataTableCellEditCancelEvent) => void>
  },
  onRowFocus: {
    required: true,
    type: Function as PropType<(e: FocusEvent) => void>
  },
  rowClass: {
    required: true,
    type: Function as PropType<(slot: DeckSlot) => object[]>
  },
  onRowContextMenu: {
    required: true,
    type: Function as PropType<(e: DataTableCellEditCancelEvent) => void>
  },
  onCommentInput: {
    required: true,
    type: Function as PropType<(e: KeyboardEvent, oracleId: string) => void>
  },
  cardSlots: {
    required: true,
    type: Array
  },
  showThumb: {
    default: true,
    type: Boolean
  }
});

const { cardSlots, rowClass, onRowContextMenu, onRowClick, onCellEdited, showThumb, onRowFocus } = toRefs(props);
const contextMenuSelection = shallowRef<DeckSlot>();
</script>
