<template>
  <div v-if="currentPreviewCard" class="flex align-items-center flex-wrap card-container align-center">
    <div>
      <Image v-if="imageSide == 'front'" :src="currentPreviewCard.cipNormal" alt="Image" width="315" preview />
      <Image v-else-if="imageSide == 'back'" :src="currentPreviewCard.cipNormalBack" alt="Image" width="315" preview />
    </div>
    <div style="width: 315px" class="pt-2">
      <SetRarity :rarity="currentPreviewCard.rarity" :code="currentPreviewCard.editionCode" /> <strong>{{ currentPreviewCard.englishName }}</strong>
      <br />
      <span class="text-sm text-color-secondary">{{ currentPreviewCard.type }}</span>
      <Divider />
      <div class="grid button-bar">
        <div class="col-8">
          <Button v-tooltip="'Add to current deck'" icon="pi pi-qrcode" severity="secondary" text rounded @click="addCard('main')"></Button>
          <Button v-tooltip="'Add to sideboard'" icon="pi pi-sliders-h" severity="secondary" text rounded @click="addCard('side')"></Button>
          <Button v-tooltip="'Add to consider list'" icon="pi pi-question" severity="secondary" text rounded @click="addCard('consider')"></Button>
          <Button
            v-tooltip="'Show back'"
            :disabled="currentPreviewCard.cipNormalBack === undefined"
            icon="pi pi-arrow-right-arrow-left"
            severity="secondary"
            text
            rounded
            @click="toggleImageSide"
          ></Button>
          <Button
            v-tooltip="'Show next oracle text'"
            :disabled="currentPreviewCard.oracleTexts.length < 2"
            icon="pi pi-book"
            severity="secondary"
            text
            rounded
            @click="cycleOracleIndex"
          ></Button>
        </div>
        <div class="col-4 text-right" style="padding-top: 20px">
          <ManaCosts v-if="currentPreviewCard.costs[oracleIndex]" :cost="currentPreviewCard.costs[oracleIndex]" class="ml-1" />
        </div>
      </div>
      <Divider class="mt-0" />
      <span
        v-if="currentPreviewCard.oracleTexts[oracleIndex]"
        style="white-space: pre-wrap"
        v-html="parseTextSymbols(currentPreviewCard.oracleTexts[oracleIndex], 12)"
      ></span>
    </div>
  </div>
  <div v-else class="flex align-items-center flex-wrap card-container align-center">
    <div>
      <Image
        v-if="imageSide == 'front'"
        src="cip://card-normal-back/0aeebaf5-8c7d-4636-9e82-8c27447861f7@https://backs.scryfall.io/normal/0/a/0aeebaf5-8c7d-4636-9e82-8c27447861f7.jpg"
        alt="Image"
        width="315"
        preview
      />
    </div>
    <div style="width: 315px" class="pt-2">
      <Skeleton width="100%" class="mb-2" height="2rem" animation="none"></Skeleton>
      <Skeleton class="mb-2" animation="none"></Skeleton>
      <Divider />
      <div class="grid button-bar">
        <div class="col-2">
          <Skeleton shape="circle" size="2rem" animation="none" class="mr-2"></Skeleton>
        </div>
        <div class="col-2">
          <Skeleton shape="circle" size="2rem" animation="none" class="mr-2"></Skeleton>
        </div>
        <div class="col-5">
          <Skeleton shape="circle" size="2rem" animation="none" class="mr-2"></Skeleton>
        </div>
        <div class="col-3 text-right" style="padding-top: 20px">
          <Skeleton width="100%" class="mb-2" animation="none" border-radius="16px"></Skeleton>
        </div>
      </div>
      <Divider class="mt-0" />
      <Skeleton width="100%" height="10rem" animation="none"></Skeleton>
    </div>
  </div>
</template>

<style scoped>
.button-bar {
  margin-bottom: -0.5rem;
}
</style>

<script setup lang="ts">
import { shallowRef, watch } from 'vue';
import Image from 'primevue/image';
import Divider from 'primevue/divider';
import Button from 'primevue/button';
import Skeleton from 'primevue/skeleton';
import SetRarity from '../shared/SetRarity.vue';
import ManaCosts from '../shared/ManaCosts.vue';
import EventHandler from '@renderer/utils/eventHandler';
import { storeToRefs } from 'pinia';
import { useViewStore } from '@renderer/stores/view';
import { parseTextSymbols } from '@renderer/utils/symbolHelper';
import { Board } from '@model/enums';

type CardFaceSide = 'front' | 'back';

const viewStore = useViewStore();
const { currentPreviewCard } = storeToRefs(viewStore);

const imageSide = shallowRef<CardFaceSide>('front');
const oracleIndex = shallowRef(0);

watch(currentPreviewCard, () => {
  oracleIndex.value = 0;
  imageSide.value = 'front';
});

function addCard(board: Board): void {
  EventHandler.emit('add-card-to-deck', currentPreviewCard.value, board);
}

function toggleImageSide(): void {
  imageSide.value = imageSide.value === 'front' ? 'back' : 'front';
}

function cycleOracleIndex(): void {
  oracleIndex.value++;
  if (currentPreviewCard.value && oracleIndex.value >= currentPreviewCard.value.oracleTexts.length) {
    oracleIndex.value = 0;
  }
}
</script>
