<template>
  <div v-if="currentPreviewCard" class="flex align-items-center flex-wrap card-container align-center">
    <div style="width: 315px">
      <p>
        <SetRarity :rarity="currentPreviewCard.rarity" :code="currentPreviewCard.editionCode" /> <strong>{{ currentPreviewCard.englishName }}</strong>
        <br />
        <span class="text-sm text-color-secondary">{{ currentPreviewCard.type }}</span>
      </p>
      <Divider />
      <p v-if="!isBasicLand(currentPreviewCard.englishName)">
        <strong>Decks containing:</strong>
        <span v-for="icd in includedDecks" :key="icd.path">
          <div class="grid bg-decks m-1 cursor-pointer" @click="openDeck(icd.path)">
            <div class="col-1"><span :class="CardColorIndicators.iconClass(icd.colors)"></span></div>
            <div class="col-9 overflow-hidden">{{ icd.title }}</div>
            <div class="col-2 text-right">
              <span v-show="icd.quantity > 0" class="text-sm font-bold overflow-hidden">{{ icd.quantity }}</span>
            </div>
          </div>
        </span>
      </p>
      <Divider />
      <p v-if="!isBasicLand(currentPreviewCard.englishName)">
        <strong>Decks suggested:</strong>
        <span>
          <div class="card flex justify-content-center">
            <MultiSelect v-model="selectedTags" :options="tagOptions" filter option-label="name" :max-selected-labels="8" class="w-full"></MultiSelect>
          </div>
          <div v-for="icd in suggestedDecks" :key="icd.path">
            <div class="grid bg-decks m-1 cursor-pointer" @click="openDeck(icd.path)">
              <div class="col-1"><span :class="CardColorIndicators.iconClass(icd.colors)"></span></div>
              <div class="col-9 overflow-hidden">{{ icd.title }}</div>
              <div class="col-2 text-right"></div>
            </div>
          </div>
        </span>
      </p>
    </div>
  </div>
</template>

<style scoped>
.bg-decks {
  background-color: var(--highlight-bg);
  color: var(--highlight-text-color);
}
</style>

<script setup lang="ts">
import { ref, shallowRef, watch, nextTick, onMounted } from 'vue';
import Divider from 'primevue/divider';
import MultiSelect from 'primevue/multiselect';
import SetRarity from '../shared/SetRarity.vue';
import EventHandler from '@renderer/utils/eventHandler';
import TagsHandler from '@renderer/utils/tagsHandler';
import { storeToRefs } from 'pinia';
import { useViewStore } from '@renderer/stores/view';
import { useFilesStore } from '@renderer/stores/files';
import { ManaColor, isBasicLand } from '@model/enums';
import { CardColorIndicators } from '@model/icons/mana';
import MagicTag from '@model/types/MagicTag';
import { extractTitle } from '@renderer/utils/formatHelper';

type AffectedDeck = {
  path: string;
  colors: ManaColor[];
  quantity: number;
  title: string;
};

const viewStore = useViewStore();
const filesStore = useFilesStore();
const { autoTagList, customTagList } = storeToRefs(filesStore);
const { currentPreviewCard } = storeToRefs(viewStore);

const imageSide = shallowRef('front');
const oracleIndex = shallowRef(0);
const includedDecks = ref<AffectedDeck[]>([]);
const suggestedDecks = ref<AffectedDeck[]>([]);
const selectedTags = ref<MagicTag[]>([]);
const tagOptions = ref<MagicTag[]>([]);

onMounted(() => {
  if (currentPreviewCard.value) {
    updateIncludedDecks();
    updateSuggestedDecks();
  }
});

watch(selectedTags, () => {
  searchSuggestedDeck();
});

watch(customTagList.value, () => {
  updateSuggestedDecks();
});

watch(currentPreviewCard, () => {
  oracleIndex.value = 0;
  imageSide.value = 'front';

  if (currentPreviewCard.value) {
    updateIncludedDecks();
    updateSuggestedDecks();
  }
});

function updateIncludedDecks(): void {
  if (currentPreviewCard.value) {
    const oid = currentPreviewCard.value.oracleId;
    includedDecks.value = [];
    const registers = window.modelService.Decks.findByOracleId(oid);

    registers.forEach((register) => {
      let quantity = 0;
      for (let i = 0; i < register.slots.length; i++) {
        if (register.slots[i].oracleId === oid) {
          // can be on multiple Board
          quantity += register.slots[i].quantity;
        }
      }

      includedDecks.value.push({
        path: register.path,
        quantity,
        colors: register.colors,
        title: extractTitle(register.path)
      });
    });
  }
}

function updateSuggestedDecks(): void {
  tagOptions.value = customTagList.value.getSortedList();

  nextTick(() => {
    if (currentPreviewCard.value) {
      const selected = TagsHandler.filterForCard(autoTagList.value, currentPreviewCard.value);
      selectedTags.value = selected;
      selected.forEach((tag) => {
        tagOptions.value.unshift(tag);
      });
    }
  });
}

function searchSuggestedDeck(): void {
  suggestedDecks.value = [];
  const registers = window.modelService.Decks.findByTags(selectedTags.value.map((o) => o.name));
  registers.forEach((register) => {
    suggestedDecks.value.push({
      path: register.path,
      colors: register.colors,
      quantity: 1,
      title: extractTitle(register.path)
    });
  });
}

function openDeck(path: string): void {
  EventHandler.emit('load-deck', path);
}
</script>
