<template>
  <div v-if="currentPreviewCard" class="flex align-items-center flex-wrap card-container align-center">
    <div style="width: 315px">
      <p>
        <SetRarity :rarity="currentPreviewCard.rarity" :code="currentPreviewCard.editionCode" /> <strong>{{ currentPreviewCard.englishName }}</strong>
        <br />
        <span class="text-sm text-color-secondary">{{ currentPreviewCard.type }}</span>
      </p>
      <Divider />
      <p>
        <a rel="noreferrer noopener" target="_blank" :href="currentPreviewCard.scryfallUri">Open Scryfall</a>
        <br />
        <a rel="noreferrer noopener" target="_blank" :href="currentPreviewCard.gathererUri">Open Gatherer</a>
      </p>
      <Divider />
      <p>
        <strong>ID:</strong> <span class="text-sm">{{ currentPreviewCard.id }}</span>
        <br />
        <strong>OID:</strong> <span class="text-sm">{{ currentPreviewCard.oracleId }}</span>
        <br />
        <strong>Index No.:</strong> <span class="text-sm">{{ currentPreviewCard.counter }}</span>
      </p>
      <Divider />
      <p>
        <strong>Color Identity:</strong> <ManaCosts :cost="joinSymbols(currentPreviewCard.colorIdentity)"></ManaCosts>
        <br />
        <strong>EDHREC Rank:</strong> {{ currentPreviewCard.edhrecRank }}
        <br />
        <strong>Edition:</strong> {{ currentPreviewCard.editionName }} ({{ currentPreviewCard.rarity }})
        <br />
        <strong>Finishes:</strong> {{ currentPreviewCard.finishes.join(', ') }}

        <span v-if="currentPreviewCard.otherNames.length > 0">
          <br />
          <strong>Also known as:</strong> {{ currentPreviewCard.otherNames.join(', ') }}
        </span>
      </p>
      <Divider />
      <p>
        <strong>CMC:</strong> {{ currentPreviewCard.cmc }}
        <br />
        <span v-if="currentPreviewCard.power || currentPreviewCard.toughness">
          <strong>Stats P/T:</strong> {{ currentPreviewCard.power }} / {{ currentPreviewCard.toughness }}
          <br />
        </span>
        <span v-if="currentPreviewCard.loyalty">
          <strong>Loyalty:</strong> {{ currentPreviewCard.loyalty }}
          <br />
        </span>
        <span v-if="currentPreviewCard.defense">
          <strong>Defense:</strong> {{ currentPreviewCard.defense }}
          <br />
        </span>
        <strong>Produces mana:</strong> <ManaCosts :cost="joinSymbols(currentPreviewCard.producedMana)"></ManaCosts>
        <br />
        <strong>Keywords:</strong> {{ currentPreviewCard.keywords.join(', ') }}
        <br />
        <strong>Super Types:</strong> {{ currentPreviewCard.superTypes.join(', ') }}
        <br />
        <strong>Sub Types:</strong> {{ currentPreviewCard.subTypes.join(', ') }}
        <br />
        <strong>Is Permanent (Front):</strong> {{ currentPreviewCard.isPermanent ? 'Yes' : 'No' }}
        <br />
        <strong>Is Land (Front):</strong> {{ currentPreviewCard.isLand ? 'Yes' : 'No' }}
      </p>
      <Divider />
      <p>
        <template v-for="(dec, cur) in currentPreviewCard.prices" :key="cur">
          <strong>Price ({{ cur }}):</strong> {{ dec }}<br />
        </template>
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import Divider from 'primevue/divider';
import ManaCosts from '../shared/ManaCosts.vue';
import SetRarity from '../shared/SetRarity.vue';
import { joinSymbols } from '@renderer/utils/symbolHelper';
import { storeToRefs } from 'pinia';
import { useViewStore } from '@renderer/stores/view';

const viewStore = useViewStore();
const { currentPreviewCard } = storeToRefs(viewStore);
</script>
