<template>
  <div class="flex align-items-center flex-wrap card-container align-center">
    <div style="width: 315px">
      <Accordion :active-index="null" @update:active-index="resfreshList">
        <AccordionTab header="Companions">
          <ProgressSpinner v-if="loading" style="width: 30px; height: 30px" stroke-width="3" fill="var(--surface-ground)" />
          <div v-for="icd in companionCandidateDecks" :key="icd.path">
            <div class="grid bg-decks m-1 cursor-pointer" @click="openDeck(icd.path)">
              <div class="col-1">
                <i v-if="!icd.isError" class="pi pi-bell" style="color: var(--blue-300)"></i>
                <i v-else class="pi pi-times" style="color: var(--red-300)"></i>
              </div>
              <div class="col-1">
                <span :class="CardColorIndicators.iconClass(icd.colors)"></span>
              </div>
              <div class="col-10 overflow-hidden">
                {{ icd.title }}<br /><span class="text-sm text-color-secondary">{{ icd.hint }} ({{ icd.percent }}%)</span>
              </div>
            </div>
          </div>
        </AccordionTab>
        <!--
        <AccordionTab header="Legality">
          TODO
        </AccordionTab>
        -->
        <AccordionTab header="Integrity">
          <ProgressSpinner v-if="loading" style="width: 30px; height: 30px" stroke-width="3" fill="var(--surface-ground)" />
          <div v-for="icd in integrityDecks" :key="icd.path">
            <div class="grid bg-decks m-1 cursor-pointer" @click="openDeck(icd.path)">
              <div class="col-1">
                <i v-if="!icd.isError" class="pi pi-bell" style="color: var(--blue-300)"></i>
                <i v-else class="pi pi-times" style="color: var(--red-300)"></i>
              </div>
              <div class="col-1">
                <span :class="CardColorIndicators.iconClass(icd.colors)"></span>
              </div>
              <div class="col-10 overflow-hidden">
                {{ icd.title }}<br /><span class="text-sm text-color-secondary">{{ icd.hint }}</span>
              </div>
            </div>
          </div>
        </AccordionTab>
      </Accordion>
      <Button
        type="button"
        icon="pi pi-refresh"
        label="Refresh"
        severity="secondary"
        style="margin-top: 30px"
        outlined
        @click="() => resfreshList('force')"
      ></Button>
    </div>
  </div>
</template>

<style scoped>
.bg-decks {
  border: 1px solid var(--highlight-bg);
}
</style>

<script setup lang="ts">
import { ref, shallowRef, nextTick } from 'vue';
import Accordion from 'primevue/accordion';
import AccordionTab from 'primevue/accordiontab';
import ProgressSpinner from 'primevue/progressspinner';
import Button from 'primevue/button';
import EventHandler from '@renderer/utils/eventHandler';
import DeckHandler from '@renderer/utils/deckHandler';
import { COMPANIONS, ManaColor } from '@model/enums';
import { CardColorIndicators } from '@model/icons/mana';
import { extractTitle } from '@renderer/utils/formatHelper';
import CompanionHandler from '@renderer/utils/companionHandler';
import IntegrityHandler from '@renderer/utils/integrityHandler';

type LinkedDeck = {
  path: string;
  colors: ManaColor[];
  title: string;
  isError: boolean;
  percent: number | undefined;
  hint: string | null;
};

const companionCandidateDecks = ref<LinkedDeck[]>([]);
const integrityDecks = ref<LinkedDeck[]>([]);
const activeIndex = shallowRef<number | null>(null);
const loading = shallowRef<boolean>(false);
const firstLoaded = shallowRef<boolean>(false);

function resfreshList(index: number | null | 'force'): void {
  // first access
  if (!loading.value) {
    if ('force' !== index) {
      activeIndex.value = index;
    }

    // first time click or forced refresh
    if ('force' === index || !firstLoaded.value) {
      loading.value = true;
      firstLoaded.value = true;

      nextTick(() => {
        setTimeout(() => {
          updateReviewDecks();
          loading.value = false;
        }, 1);
      }).then();
    }
  }
}

function updateReviewDecks(): void {
  companionCandidateDecks.value = [];
  integrityDecks.value = [];
  const registers = window.modelService.Decks.findAll();

  registers.forEach((register) => {
    const deck = DeckHandler.createDeckFromPath(register.path);

    if (deck) {
      for (const n in COMPANIONS) {
        const card = window.modelService.Cards.byId(COMPANIONS[n]);
        if (card) {
          const deckHas = deck.meta.companions.includes(card.oracleId);
          const percent = CompanionHandler.calculateForDeck(deck, card);
          const isCandidate = percent && percent >= 90;
          // can be added or is invalid
          if ((isCandidate && !deckHas && deck.meta.companions.length === 0) || (!isCandidate && deckHas)) {
            companionCandidateDecks.value.push({
              path: register.path,
              colors: register.colors,
              title: extractTitle(register.path),
              percent,
              hint: card.englishName,
              isError: deckHas
            });
          }
        }
      }

      const issues = IntegrityHandler.check(deck);
      if (issues.length > 0) {
        integrityDecks.value.push({
          path: register.path,
          colors: register.colors,
          title: extractTitle(register.path),
          percent: 100,
          hint: issues.join('; '),
          isError: true
        });
      }
    }

    companionCandidateDecks.value.sort((a: LinkedDeck, b: LinkedDeck) => {
      return (b.percent ?? 0) - (a.percent ?? 0);
    });
  });
}

function openDeck(path: string): void {
  EventHandler.emit('load-deck', path);
}
</script>
