<template>
  <div class="card-teaser m-1 relative">
    <img v-if="realCard" :alt="realCard.englishName" :src="realCard.cipArt" class="absolute" style="height: 34px; top: 0; left: 0" />
    <span v-if="realCard" class="cn overflow-hidden">{{ realCard.englishName }}</span>
    <div class="absolute" style="right: 4px; top: 4px"><Tag severity="success" :value="status" :icon="icon" /></div>
  </div>
</template>

<style>
.card-teaser {
  border-radius: 4px;
  padding: 0.5em 0px 0.5em 55px;
}
.card-teaser .cn {
  display: inline-block;
  max-width: calc(100% - 75px);
}
.light .card-teaser {
  background-color: var(--yellow-50);
  border-color: var(--yellow-300);
  color: var(--yellow-900);
}
.dark .card-teaser {
  background-color: var(--yellow-900);
  border-color: var(--yellow-300);
  color: var(--yellow-50);
}
</style>

<script setup lang="ts">
import { toRefs, ref, shallowRef, onMounted } from 'vue';
import Tag from 'primevue/tag';
import MagicCard from '@model/types/MagicCard';

const props = defineProps({
  oracleId: { type: String, required: true },
  card: { type: MagicCard, default: null },
  status: { type: Number, default: null },
  currency: { type: String, default: null }
});

const { oracleId, card, status, currency } = toRefs(props);
const icon = shallowRef<string>();
const realCard = ref<MagicCard>();

onMounted(() => {
  if (!card.value) {
    realCard.value = window.modelService.Cards.byOracleId(oracleId.value)!;
  } else {
    realCard.value = card.value;
  }

  if (currency.value && currency.value !== 'none') {
    icon.value = 'pi pi-' + (currency.value === 'eur' ? 'euro' : 'dollar');
  }
});
</script>
