<template>
  <div class="color-teaser m-1 relative">
    <i v-if="colorList" :class="CardColorIndicators.iconClass(colorList) + ' ms-2x absolute'" style="top: 4px; left: 13px" />
    <span class="cn">{{ colorName }}</span>
    <div class="absolute" style="right: 4px; top: 4px"><Tag severity="success" :value="status" /></div>
  </div>
</template>

<style>
.color-teaser {
  border-radius: 4px;
  padding: 0.5em 0px 0.5em 55px;
}
.light .color-teaser {
  background-color: var(--pink-50);
  border-color: var(--pink-300);
  color: var(--pink-900);
}
.dark .color-teaser {
  background-color: var(--pink-900);
  border-color: var(--pink-300);
  color: var(--pink-50);
}
</style>

<script setup lang="ts">
import { toRefs, shallowRef, onMounted } from 'vue';
import Tag from 'primevue/tag';
import { CardColorIndicators } from '@model/icons/mana';
import ColorHandler from '@renderer/utils/colorHandler';
import { COLOR_NAMES } from '@model/enums';

const props = defineProps({
  colors: { type: String, required: true },
  status: { type: Number, default: null }
});

const { colors } = toRefs(props);
const colorList = shallowRef<string[]>();
const colorName = shallowRef('');

onMounted(() => {
  colorList.value = colors.value.split('');

  if (colors.value in ColorHandler.mapNames) {
    colorName.value = ColorHandler.mapNames[colors.value];
  } else if (colors.value.length === 4) {
    colorName.value = ColorHandler.mapNames.C4;
  } else if (colors.value.length === 5) {
    colorName.value = ColorHandler.mapNames.C5;
  } else {
    colorName.value = COLOR_NAMES.C;
  }
});
</script>
