<template>
  <div class="deck-teaser m-1 relative">
    <i v-if="deck" :class="CardColorIndicators.iconClass(deck.colors) + ' ms-2x absolute'" style="top: 4px; left: 13px" />
    <span class="cn">{{ extractTitle(path) }}</span>
    <div class="absolute" style="right: 4px; top: 4px"><Tag severity="success" :value="status" :icon="icon" /></div>
  </div>
</template>

<style>
.deck-teaser {
  border-radius: 4px;
  padding: 0.5em 0px 0.5em 55px;
}
.light .deck-teaser {
  background-color: var(--green-50);
  border-color: var(--green-400);
  color: var(--green-900);
}
.dark .deck-teaser {
  background-color: var(--green-900);
  border-color: var(--yellow-400);
  color: var(--yellow-50);
}
</style>

<script setup lang="ts">
import { toRefs, shallowRef, onMounted } from 'vue';
import Tag from 'primevue/tag';
import { CardColorIndicators } from '@model/icons/mana';
import { StorageFile } from '@model/interfaces/Storage';
import { extractTitle } from '@renderer/utils/formatHelper';

const props = defineProps({
  path: { type: String, required: true },
  status: { type: Number, default: null },
  currency: { type: String, default: null }
});

const { path, status, currency } = toRefs(props);
const deck = shallowRef<StorageFile>();
const icon = shallowRef<string>();

onMounted(() => {
  deck.value = window.modelService.Decks.getData(path.value);
  if (currency.value && currency.value !== 'none') {
    icon.value = 'pi pi-' + (currency.value === 'eur' ? 'euro' : 'dollar');
  }
});
</script>
