<template>
  <div class="tag-teaser m-1 relative">
    <i class="pi pi pi-tag mr-2" />
    <span class="cn">{{ tag.toUpperCase() }} ({{ tagType }})</span>
    <div class="absolute" style="right: 4px; top: 4px"><Tag severity="success" :value="status" /></div>
  </div>
</template>

<style>
.tag-teaser {
  border-radius: 4px;
  padding: 0.5em 0px 0.5em 0.5em;
}
.light .tag-teaser {
  background-color: var(--blue-50);
  border-color: var(--blue-300);
  color: var(--blue-900);
}
.dark .tag-teaser {
  background-color: var(--blue-900);
  border-color: var(--blue-300);
  color: var(--blue-50);
}
</style>

<script setup lang="ts">
import { toRefs, shallowRef, onMounted } from 'vue';
import Tag from 'primevue/tag';
import { storeToRefs } from 'pinia';
import { useFilesStore } from '@renderer/stores/files';
import { TagType } from '@model/enums';

const filesStore = useFilesStore();
const { autoTagList } = storeToRefs(filesStore);

const props = defineProps({
  tag: { type: String, required: true },
  status: { type: Number, default: null }
});

const { tag } = toRefs(props);
const tagType = shallowRef<TagType>();

onMounted(() => {
  tagType.value = 'custom';
  for (const autoTag of autoTagList.value) {
    if (autoTag.name === tag.value) {
      tagType.value = autoTag.type;
      break;
    }
  }
});
</script>
