:root {
  --mana-green:#4bc911;
  --mana-white:#e6e6e6;
  --mana-blue:#2a8aeb;
  --mana-red:#e24a0e;
  --mana-black:#0a0b0c;
  --mana-colorless:#a1a1a1;
  --mana-multicolor:#e6ad13;

  --type-non-creature:#10d3d3;
  --type-creature:#e2d40a;
  --type-spell:#e495ee;
  --type-land:#c2c4c2;

  --co-border: 1px;
}

.linux {
  --co-border: 2px;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.p-tabview a:focus {
  box-shadow: none !important;
}

.content-tabs {
  border-top: 1px solid var(--surface-d);
  bottom: 1px;
}

.hide-file-tree {
  width: 30px;
  bottom: 8px
}

.deck-status-container {
  /*height: 45px;*/
  left: 370px;
  /*top: 8px;*/
}

.deck-status-box {
  /*height: 42px;*/
  /* background-color: #efefef; */
  background-color: var(--surface-b);
}

.preferences-bar {
  z-index: 1000;
  right: 20px;
  top: 14px;
}

.ft-color-filter .p-button {
  border: none;
}

a, a:active, a:focus, a:hover {
  color: var(--primary-color);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: 0.286rem;
}

.p-button.p-button-icon-only {
  max-width: 2.4rem;
}

.p-divider.p-divider-horizontal {
  margin: 0.5rem 0 !important;
  padding: 0 0.5rem !important;
}
