<template>
  <div
    class="panel-stack relative"
    style="width: 100vmin; height: calc(100vh - var(--co-main) - var(--co-deck-footer) - var(--co-tabs) - var(--co-border))"
    @contextmenu="onRowContextMenu"
  >
    <ContextMenu ref="actualContextMenu" :model="openedMenuItems" />
    <div class="h-full w-full absolute flex justify-content-start flex-nowrap">
      <div v-for="index in 8" :key="index" class="flex">
        <DropZone class="drop-area" @dropped="onDrop($event, Math.min(index - 1, 7))">
          <div v-if="cardSlots.filter((e) => (index < 8 ? e.getRealCmc() === index - 1 : e.getRealCmc() >= index - 1)).length > 0">
            <Accordion v-if="viewMode == 'collapsed'" v-model:active-index="activeIndexes[index]" expand-icon="undefined" collapse-icon="undefined">
              <AccordionTab
                v-for="slot in cardSlots.filter((e) => (index < 8 ? e.getRealCmc() === index - 1 : e.getRealCmc() >= index - 1))"
                :key="slot.oracleId"
              >
                <template #header>
                  <div
                    class="relative"
                    @mousedown="startDrag($event, slot)"
                    @mouseup="stopDrag"
                    @dblclick="onDblClick($event, slot.linkedCard)"
                    @mouseover="onCardOver($event, slot.linkedCard)"
                  >
                    <div v-if="slot.quantity > 1" class="absolute right opacity-70">
                      <Tag class="p-1" :value="slot.quantity"></Tag>
                    </div>
                    <img :src="slot.linkedCard.cipNormal" :alt="slot.linkedCard.englishName" :data-oid="slot.linkedCard.oracleId" width="210" height="292" />
                  </div>
                </template>
                <img
                  :src="slot.linkedCard.cipNormal"
                  :alt="slot.linkedCard.englishName"
                  :data-oid="slot.linkedCard.oracleId"
                  width="210"
                  height="292"
                  @dblclick="onDblClick($event, slot.linkedCard)"
                />
              </AccordionTab>
              <div>aaa</div>
            </Accordion>
            <Accordion v-else-if="viewMode == 'expanded'" v-model:active-index="activeIndexes[index]" expand-icon="undefined" collapse-icon="undefined">
              <AccordionTab
                v-for="slotItem in expandedSlots(cardSlots.filter((e) => (index < 8 ? e.getRealCmc() === index - 1 : e.getRealCmc() >= index - 1)))"
                :key="slotItem.key"
              >
                <template #header>
                  <div
                    class="relative panel-card"
                    @mousedown="startDrag($event, slotItem.slot)"
                    @mouseup="stopDrag"
                    @dblclick="onDblClick($event, slotItem.slot.linkedCard)"
                    @mouseover="onCardOver($event, slotItem.slot.linkedCard)"
                  >
                    <div v-if="slotItem.isBasic" class="absolute right opacity-70">
                      <Tag class="p-1" :value="slotItem.slot.quantity"></Tag>
                    </div>
                    <img
                      :src="slotItem.slot.linkedCard.cipNormal"
                      :alt="slotItem.slot.linkedCard.englishName"
                      :data-oid="slotItem.slot.linkedCard.oracleId"
                      width="210"
                      height="292"
                    />
                  </div>
                </template>
                <img
                  :src="slotItem.slot.linkedCard.cipNormal"
                  :alt="slotItem.slot.linkedCard.englishName"
                  :data-oid="slotItem.slot.linkedCard.oracleId"
                  width="210"
                  height="292"
                  @dblclick="onDblClick($event, slotItem.slot.linkedCard)"
                />
              </AccordionTab>
            </Accordion>
          </div>
          <div v-else>
            <div class="cmc-gap p-2"><i class="pi pi-ticket"></i></div>
          </div>
        </DropZone>
      </div>
    </div>
  </div>
</template>

<style>
.panel-stack .p-accordion-header,
.panel-stack .p-accordion-header .p-accordion-header-link {
  width: 210px;
  padding: 0 !important;
  border-bottom: none !important;
}
.panel-stack .p-accordion-header {
  height: 32px !important;
  max-height: 32px !important;
  overflow: hidden !important;
}
.panel-stack .p-accordion-content {
  width: 210px;
  margin-top: -32px !important;
  padding: 0 !important;
}
.panel-stack .p-accordion-tab:last-child .p-accordion-content {
  visibility: hidden !important;
}
.panel-stack .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  margin: 0 !important;
}
.panel-stack .cmc-gap {
  height: 80vh !important;
}
.panel-stack .p-accordion-tab:last-child .p-accordion-header {
  height: 292px !important;
  max-height: 292px !important;
  border: none;
}
.panel-stack .p-accordion-tab:last-child.p-accordion-tab-active .p-accordion-header {
  height: 296px !important;
  max-height: 296px !important;
}
.panel-stack .p-accordion-tab-active .panel-card {
  height: 296px;
  border-bottom: 2px dotted var(--primary-color);
}
</style>

<script setup lang="ts">
import { shallowRef, computed, nextTick, toRefs, PropType } from 'vue';
import Tag from 'primevue/tag';
import Accordion from 'primevue/accordion';
import AccordionTab from 'primevue/accordiontab';
import ContextMenu from 'primevue/contextmenu';
import DropZone from '../shared/DropZone.vue';
import DeckHandler from '@renderer/utils/deckHandler';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import MagicCard from '@model/types/MagicCard';
import { BASIC_LANDS, Board } from '@model/enums';
import DeckSlot from '@model/types/DeckSlot';
import { MenuItem } from 'primevue/menuitem';
import EventHandler from '@renderer/utils/eventHandler';

const decksStore = useDecksStore();
const { loadedDecks } = storeToRefs(decksStore);

const viewStore = useViewStore();
const { draggedSearchCard } = storeToRefs(viewStore);

const viewMode = shallowRef('expanded');
const actualContextMenu = shallowRef<ContextMenu>();
const openedMenuItems = shallowRef<MenuItem[]>([]);
const openedMenuOracleId = shallowRef<string | null>(null);
const draggedStackCard = shallowRef<MagicCard | null>(null);
const activeIndexes = shallowRef<number[]>([]);

const props = defineProps({
  path: { type: String, required: true },
  board: { type: String as PropType<Board>, required: false, default: 'main' }
});

const { path, board } = toRefs(props);
// const meta = ref(loadedDecks.value[path.value].meta);

const cardSlots = computed(() => {
  return loadedDecks.value[path.value]!.slots.filter((slot) => slot.board === board.value);
});

function onDblClick(_ev: Event, card: MagicCard): void {
  viewStore.showPreview(card);
}

function onRowContextMenu(ev: Event): void {
  try {
    openedMenuItems.value = [];
    openedMenuOracleId.value = null;

    if (ev.target) {
      if ((ev.target as HTMLImageElement).tagName === 'IMG') {
        openedMenuItems.value = contextItemsCard;
        openedMenuOracleId.value = (ev.target as HTMLImageElement).getAttribute('data-oid');
      } else {
        openedMenuItems.value = contextItemsZone;
      }
    }
    if (actualContextMenu.value) {
      actualContextMenu.value.show(ev);
    }
  } catch (error) {
    console.warn(error);
  }
}

function startDrag(_ev: Event, slot: DeckSlot): void {
  draggedStackCard.value = slot.linkedCard;
}

function stopDrag(): void {
  draggedStackCard.value = null;
}

function onDrop(_ev: Event, cmc: number): void {
  if (draggedStackCard.value) {
    console.log(draggedStackCard.value.cmc);
    DeckHandler.updateSlotValue(loadedDecks.value[path.value]!, draggedStackCard.value.oracleId, board.value, 'overrideCmc', cmc);
    DeckHandler.moveSlotBottom(loadedDecks.value[path.value]!, draggedStackCard.value.oracleId, board.value);
    DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
    // console.log(draggedCard.value, ev, cmc);
  } else if (draggedSearchCard.value) {
    DeckHandler.addSlot(loadedDecks.value[path.value]!, draggedSearchCard.value, 1, board.value);
    DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
  }

  draggedStackCard.value = null;
  draggedSearchCard.value = null;
}

function onCardOver(_ev: Event, card: MagicCard): void {
  const isOpened = activeIndexes.value.findIndex((i) => i !== null && i !== undefined) !== -1;
  if (!isOpened) {
    viewStore.showPreview(card, false);
  }
}

function* expandedSlots(slots: DeckSlot[]): Generator<{ key: string; slot: DeckSlot; isBasic: boolean }> {
  for (const slot of slots) {
    if (slot.linkedCard.superTypes.includes('Basic')) {
      yield {
        key: slot.oracleId,
        slot: slot,
        isBasic: true
      };
    } else {
      for (let s = 0; s < slot.quantity; s++) {
        yield {
          key: slot.oracleId + ':' + s,
          slot: slot,
          isBasic: false
        };
      }
    }
  }
}

const contextItemsCard = [
  {
    label: 'Preview card',
    icon: 'pi pi-id-card',
    command: (): void => {
      if (openedMenuOracleId.value) {
        viewStore.showPreviewOracleId(openedMenuOracleId.value);
      }
    }
  },
  {
    label: 'Increase card',
    icon: 'pi pi-plus',
    command: (): void => {
      nextTick(() => {
        if (openedMenuOracleId.value) {
          DeckHandler.increaseSlot(loadedDecks.value[path.value]!, openedMenuOracleId.value, board.value);
          DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
          // DeckHandler.pushMetaUpdate(loadedDecks.value[path.value]!);
        }
      });
    }
  },
  {
    label: 'Decrease card',
    icon: 'pi pi-minus',
    command: (): void => {
      nextTick(() => {
        if (openedMenuOracleId.value) {
          DeckHandler.decreaseSlot(loadedDecks.value[path.value]!, openedMenuOracleId.value, board.value);
          DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
          // DeckHandler.pushMetaUpdate(loadedDecks.value[path.value]!);
        }
      });
    }
  },
  {
    label: 'Move to sideboard',
    icon: 'pi pi-sliders-h',
    command: (): void => {
      nextTick(() => {
        if (openedMenuOracleId.value) {
          DeckHandler.moveSlotBoard(loadedDecks.value[path.value]!, openedMenuOracleId.value, board.value, 'side');
          DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
          // DeckHandler.pushMetaUpdate(loadedDecks.value[path.value]!);
        }
      });
    }
  },
  {
    label: 'Move to consider',
    icon: 'pi pi-question-circle',
    command: (): void => {
      nextTick(() => {
        if (openedMenuOracleId.value) {
          DeckHandler.moveSlotBoard(loadedDecks.value[path.value]!, openedMenuOracleId.value, board.value, 'consider');
          DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
          // DeckHandler.pushMetaUpdate(loadedDecks.value[path.value]!);
        }
      });
    }
  }
];

const contextItemsZone = [
  {
    label: 'View Collapsed',
    icon: 'pi pi-info',
    command: (): void => {
      viewMode.value = 'collapsed';
    }
  },
  {
    label: 'View Expanded',
    icon: 'pi pi-ellipsis-v',
    command: (): void => {
      viewMode.value = 'expanded';
    }
  },
  {
    label: 'Add Basic Swamp',
    icon: 'ms ms-b',
    command: (): void => {
      const card = window.modelService.Cards.byId(BASIC_LANDS.Swamp);
      EventHandler.emit('add-card-to-deck', card, board.value);
    }
  },
  {
    label: 'Add Basic Forest',
    icon: 'ms ms-g',
    command: (): void => {
      const card = window.modelService.Cards.byId(BASIC_LANDS.Forest);
      EventHandler.emit('add-card-to-deck', card, board.value);
    }
  },
  {
    label: 'Add Basic Mountain',
    icon: 'ms ms-r',
    command: (): void => {
      const card = window.modelService.Cards.byId(BASIC_LANDS.Mountain);
      EventHandler.emit('add-card-to-deck', card, board.value);
    }
  },
  {
    label: 'Add Basic Island',
    icon: 'ms ms-u',
    command: (): void => {
      const card = window.modelService.Cards.byId(BASIC_LANDS.Island);
      EventHandler.emit('add-card-to-deck', card, board.value);
    }
  },
  {
    label: 'Add Basic Plains',
    icon: 'ms ms-w',
    command: (): void => {
      const card = window.modelService.Cards.byId(BASIC_LANDS.Plains);
      EventHandler.emit('add-card-to-deck', card, board.value);
    }
  }
];
</script>
