<template>
  <div class="meta-panel grid p-5">
    <div class="col-12">
      <strong>Path:</strong> <a href="#" @click="openFileExplorer">{{ path }}</a>
    </div>
    <div class="col-9">
      <div class="grid">
        <div class="col-12">
          <div class="card flex justify-content-center">
            <div class="flex flex-wrap gap-3">
              <SelectButton v-model="meta.type" :options="typeOptions" option-value="val" option-label="dis"></SelectButton>
            </div>
          </div>
        </div>
        <div class="col-12">
          <Textarea v-model="comment" class="w-full" rows="12" cols="30" @blur="meta.comment = comment" />
        </div>
        <div class="col-3">
          <Knob v-model="meta.level" v-tooltip="'Level'" :min="1" :max="10" />
        </div>
        <div class="col-9">
          <div class="grid">
            <div class="col-12">
              <MultiSelect
                v-model="meta.formats"
                display="chip"
                :options="formatSelection"
                option-value="val"
                option-label="dis"
                placeholder="Legal Formats"
                :max-selected-labels="3"
                class="w-full"
              />
            </div>
            <div class="col-12">
              <div class="card flex flex-wrap justify-content-left gap-3">
                <div class="flex align-items-center">
                  <Checkbox v-model="meta.colors" input-id="color-b" name="color" value="B" />
                  <label for="color-b" class="ml-2" v-html="parseTextSymbols('{B}', 24)"></label>
                </div>
                <div class="flex align-items-center">
                  <Checkbox v-model="meta.colors" input-id="color-g" name="color" value="G" />
                  <label for="color-g" class="ml-2" v-html="parseTextSymbols('{G}', 24)"></label>
                </div>
                <div class="flex align-items-center">
                  <Checkbox v-model="meta.colors" input-id="color-r" name="color" value="R" />
                  <label for="color-r" class="ml-2" v-html="parseTextSymbols('{R}', 24)"></label>
                </div>
                <div class="flex align-items-center">
                  <Checkbox v-model="meta.colors" input-id="color-u" name="color" value="U" />
                  <label for="color-u" class="ml-2" v-html="parseTextSymbols('{U}', 24)"></label>
                </div>
                <div class="flex align-items-center">
                  <Checkbox v-model="meta.colors" input-id="color-w" name="color" value="W" />
                  <label for="color-w" class="ml-2" v-html="parseTextSymbols('{W}', 24)"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 gap-2">
          <span v-for="com in companionOptions" :key="com.card.oracleId" @click="viewStore.showPreview(com.card)">
            <Card style="width: 100px; float: left" class="m-1">
              <template #header>
                <span v-if="com.badge && parseInt(com.badge) >= 100" v-badge.success="com.badge + '%'">
                  <img :alt="com.card.englishName" :src="com.card.cipArt" style="width: 100%" />
                </span>
                <span v-else-if="com.badge && parseInt(com.badge) >= 90" v-badge="com.badge + '%'">
                  <img :alt="com.card.englishName" :src="com.card.cipArt" style="width: 100%" />
                </span>
                <span v-else v-badge.secondary="com.badge && com.badge !== '' ? com.badge + '%' : '0 %'">
                  <img :alt="com.card.englishName" :src="com.card.cipArt" style="width: 100%" />
                </span>
              </template>
              <template #content>
                <div class="flex align-items-center overflow-hidden">
                  <Checkbox v-model="meta.companions" :input-id="'com' + com.oracleId" name="color" :value="com.card.oracleId" />
                  <label :for="'com' + com.oracleId" class="ml-2 text-sm">{{ com.name }}</label>
                </div>
              </template>
            </Card>
          </span>
        </div>
        <div class="col-10">
          <MultiSelect
            v-model="meta.years"
            display="chip"
            :options="yearSelection"
            option-value="val"
            option-label="dis"
            placeholder="Years"
            :max-selected-labels="50"
            class="w-full"
          />
        </div>
        <div class="col-2">
          <Button
            :disabled="meta.years.includes(currentYear)"
            severity="secondary"
            class="w-full mb-2"
            :label="'+ ' + currentYear.toString()"
            @click="addCurrentYear"
          ></Button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <span>
        <span v-if="sigSlots.slot1">
          <Image :src="sigSlots.slot1.cipArt" alt="" width="200" preview></Image>
          <br />
          <span class="text-sm">
            {{ sigSlots.slot1.englishName }}
          </span>
        </span>
        <span v-else>
          <Card style="width: 200px; height: 150px">
            <template #content><span class="text-sm text-color-secondary">Signature card 1</span></template>
          </Card>
          <br />
        </span>
        <Divider />
      </span>
      <span>
        <span v-if="sigSlots.slot2">
          <Image :src="sigSlots.slot2.cipArt" alt="" width="200" preview></Image>
          <br />
          <span class="text-sm">
            {{ sigSlots.slot2.englishName }}
          </span>
        </span>
        <span v-else>
          <Card style="width: 200px; height: 150px">
            <template #content><span class="text-sm text-color-secondary">Signature card 2</span></template>
          </Card>
          <br />
        </span>
        <Divider />
      </span>
      <span>
        <span v-if="sigSlots.slot3">
          <Image :src="sigSlots.slot3.cipArt" alt="" width="200" preview></Image>
          <br />
          <span class="text-sm">
            {{ sigSlots.slot3.englishName }}
          </span>
        </span>
        <span v-else>
          <Card style="width: 200px; height: 150px">
            <template #content><span class="text-sm text-color-secondary">Signature card 3</span></template>
          </Card>
          <br />
        </span>
      </span>
    </div>
  </div>
</template>

<style>
.meta-panel .p-card .p-card-body {
  padding: 0 !important;
}
.meta-panel .p-card .p-card-content {
  padding: 0.2rem !important;
}
.meta-panel .p-overlay-badge .p-badge {
  right: 15px !important;
}
</style>

<script setup lang="ts">
import { ref, shallowRef, toRefs, reactive, watch, onMounted } from 'vue';
import Divider from 'primevue/divider';
import Textarea from 'primevue/textarea';
import Checkbox from 'primevue/checkbox';
import MultiSelect from 'primevue/multiselect';
import SelectButton from 'primevue/selectbutton';
import Image from 'primevue/image';
import Button from 'primevue/button';
import Knob from 'primevue/knob';
import Card from 'primevue/card';
import CompanionHandler from '@renderer/utils/companionHandler';
import { parseTextSymbols } from '@renderer/utils/symbolHelper';
import { FORMATS, DECK_TYPES } from '@model/enums';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import MagicCard from '@model/types/MagicCard';
import { Companion } from '@model/interfaces/Companion';
import Deck from '@model/types/Deck';

const props = defineProps({
  path: { type: String, required: true }
});

const { path } = toRefs(props);
const decksStore = useDecksStore();
const viewStore = useViewStore();
const { loadedDecks } = storeToRefs(decksStore);
const { companionCards } = storeToRefs(viewStore);

const meta = ref(loadedDecks.value[path.value]!.meta);
const deck = ref(loadedDecks.value[path.value]!);

const comment = shallowRef(meta.value.comment);
const companionOptions = shallowRef<Companion[]>();

const formatSelection: { val: string; dis: string }[] = [];
for (const co in FORMATS) {
  formatSelection.push({ val: FORMATS[co], dis: co });
}

const typeOptions: { val: string; dis: string }[] = [];
for (const t in DECK_TYPES) {
  typeOptions.push({ val: DECK_TYPES[t], dis: t });
}

const yearSelection: { val: number; dis: string }[] = [];
const currentYear = new Date().getFullYear();
const maxYear = currentYear + 1;
for (let y = 1993; y <= maxYear; y++) {
  yearSelection.push({ val: y, dis: y.toString() });
}

const sigSlots = reactive<{ [index: string]: MagicCard | null }>({
  slot1: null,
  slot2: null,
  slot3: null
});

onMounted(() => {
  updateSignatureSlots();
  updateCompanionSlots();
});

watch(meta.value, () => {
  updateSignatureSlots();
});

watch(deck.value, () => {
  updateCompanionSlots();
});

function updateSignatureSlots(): void {
  for (let i = 0; i < 3; i++) {
    if (i < meta.value.signatures.length) {
      sigSlots['slot' + (i + 1)] = window.modelService.Cards.byOracleId(meta.value.signatures[i]);
    } else {
      sigSlots['slot' + (i + 1)] = null;
    }
  }
}

function updateCompanionSlots(): void {
  const options: Companion[] = [];
  companionCards.value.forEach((cel) => {
    const opt = {
      oracleId: cel.oracleId,
      card: cel.card,
      name: cel.name,
      badge: ''
    };

    opt.badge = (CompanionHandler.calculateForDeck(deck.value as Deck, opt.card) ?? '') as string;
    options.push(opt);
  });

  companionOptions.value = options;
}

function addCurrentYear(): void {
  meta.value.years.push(currentYear);
}

function openFileExplorer(): void {
  window.fileSystem.openShell(path.value);
}
</script>
