<template>
  <div :class="'w-full h-full ' + (at == 'mb' ? '' : 'hidden')">
    <DeckPanelTable class="w-full" :path="path"></DeckPanelTable>
  </div>
  <div :class="'w-full h-full ' + (at == 'sb' ? '' : 'hidden')">
    <DeckPanelTable class="w-full" :path="path" board="side"></DeckPanelTable>
  </div>
  <div :class="'w-full h-full ' + (at == 'cb' ? '' : 'hidden')">
    <DeckPanelTable class="w-full" :path="path" board="consider"></DeckPanelTable>
  </div>
  <div :class="'w-full h-full ' + (at == 'stack' ? '' : 'hidden')">
    <DeckPanelStack class="w-full" :path="path"></DeckPanelStack>
  </div>
  <div :class="'w-full h-full ' + (at == 'group' ? '' : 'hidden')">
    <DeckPanelGroup class="w-full" :path="path"></DeckPanelGroup>
  </div>
  <div :class="'w-full h-full ' + (at == 'meta' ? '' : 'hidden')">
    <DeckPanelMeta :path="path"></DeckPanelMeta>
  </div>
  <div :class="'w-full h-full ' + (at == 'tags' ? '' : 'hidden')">
    <DeckPanelTags :path="path"></DeckPanelTags>
  </div>
  <div :class="'w-full h-full ' + (at == 'colors' ? '' : 'hidden')">
    <DeckPanelColors :path="path"></DeckPanelColors>
  </div>
  <div :class="'w-full h-full ' + (at == 'impexp' ? '' : 'hidden')">
    <DeckImportExport :path="path"></DeckImportExport>
  </div>

  <div class="fixed content-tabs w-full">
    <div class="absolute text-color-secondary deck-status-container">
      <DeckPanelStatus :path="path"></DeckPanelStatus>
    </div>
    <ul class="p-tabview-nav" role="tablist">
      <li v-tooltip.top="'Cardlist'" :class="'p-tabview-header' + (at == 'mb' ? ' p-highlight' : '')">
        <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="at = 'mb'">
          <span class="p-tabview-title text-sm"><i v-badge="mbCount" class="pi pi-list"></i></span>
        </a>
      </li>
      <li v-tooltip.top="'Sideboard'" :class="'p-tabview-header' + (at == 'sb' ? ' p-highlight' : '')">
        <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="at = 'sb'">
          <span class="p-tabview-title text-sm"><i v-badge.secondary="sbCount" class="pi pi-sliders-h"></i></span>
        </a>
      </li>
      <li v-tooltip.top="'Consider'" :class="'p-tabview-header' + (at == 'cb' ? ' p-highlight' : '')">
        <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="at = 'cb'">
          <span class="p-tabview-title text-sm"><i v-badge.secondary="cbCount" class="pi pi-question"></i></span>
        </a>
      </li>
      <li v-tooltip.top="'Stacked'" :class="'p-tabview-header' + (at == 'stack' ? ' p-highlight' : '')">
        <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="at = 'stack'">
          <span class="p-tabview-title text-sm"><i class="pi pi-table"></i></span>
        </a>
      </li>
      <li v-tooltip.top="'Grouped'" :class="'p-tabview-header' + (at == 'group' ? ' p-highlight' : '')">
        <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="at = 'group'">
          <span class="p-tabview-title text-sm"><i class="pi pi-eye"></i></span>
        </a>
      </li>
      <li v-tooltip.top="'Meta data'" :class="'p-tabview-header' + (at == 'meta' ? ' p-highlight' : '')">
        <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="at = 'meta'">
          <span class="p-tabview-title text-sm"><i class="pi pi-file-edit"></i></span>
        </a>
      </li>
      <li v-tooltip.top="'Tags'" :class="'p-tabview-header' + (at == 'tags' ? ' p-highlight' : '')">
        <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="at = 'tags'">
          <span class="p-tabview-title text-sm"><i class="pi pi-tags"></i></span>
        </a>
      </li>
      <li v-tooltip.top="'Colors/Mana'" :class="'p-tabview-header' + (at == 'colors' ? ' p-highlight' : '')">
        <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="at = 'colors'">
          <span class="p-tabview-title text-sm"><i class="pi pi-chart-pie"></i></span>
        </a>
      </li>
      <li v-tooltip.top="'Import/Export'" :class="'p-tabview-header' + (at == 'impexp' ? ' p-highlight' : '')">
        <a class="p-tabview-nav-link p-tabview-header-action" role="tab" @click="at = 'impexp'">
          <span class="p-tabview-title text-sm"><i class="pi pi-file-import"></i></span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { shallowRef, computed, toRefs, watch } from 'vue';
import DeckPanelTable from './DeckPanelTable.vue';
import DeckPanelMeta from './DeckPanelMeta.vue';
import DeckPanelTags from './DeckPanelTags.vue';
import DeckPanelColors from './DeckPanelColors.vue';
import DeckPanelStatus from './DeckPanelStatus.vue';
import DeckPanelStack from './DeckPanelStack.vue';
import DeckPanelGroup from './DeckPanelGroup.vue';
import DeckImportExport from './DeckImportExport.vue';
import DeckSlot from '@model/types/DeckSlot';
import DeckHandler from '@renderer/utils/deckHandler';
import EventHandler from '@renderer/utils/eventHandler';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import { Board } from '@model/enums';

const props = defineProps({
  path: { type: String, required: true }
});

const { path } = toRefs(props);

const decksStore = useDecksStore();
const { loadedDecks, activeDeckTablePath } = storeToRefs(decksStore);

const viewStore = useViewStore();
const { defaultDeckPanel } = storeToRefs(viewStore);

const at = shallowRef(defaultDeckPanel.value);
const mbCount = computed(() => calcTotal(loadedDecks.value[path.value]!.slots, 'main'));
const sbCount = computed(() => calcTotal(loadedDecks.value[path.value]!.slots, 'side'));
const cbCount = computed(() => calcTotal(loadedDecks.value[path.value]!.slots, 'consider'));

watch(loadedDecks.value[path.value]!.meta, () => {
  // console.log('Push meta update for ' + path.value);
  DeckHandler.pushMetaUpdate(loadedDecks.value[path.value]!);
});

watch(at, () => {
  EventHandler.emit('deck-panel-tab-changed', at.value);
});

watch(activeDeckTablePath, () => {
  EventHandler.emit('deck-panel-tab-changed', at.value);
});

function calcTotal(slots: DeckSlot[], board: Board): number {
  let total = 0;
  for (const i in slots) {
    if (slots[i].board === board) {
      total += slots[i].quantity;
    }
  }

  return total;
}
</script>
