<template>
  <ContextMenu ref="actualContextMenu" :model="openedMenuItems" />
  <DropZone class="drop-area" style="height: calc(100vh - var(--co-main) - var(--co-deck-footer) - var(--co-tabs) - var(--co-border))" @dropped="onDrop">
    <div ref="containerElement" class="container w-full">
      <template v-for="group in CARD_GROUPS" :key="group">
        <div v-if="filterGroup(cardMainSlots, group).length > 0" class="card-group p-2">
          <div class="p-1">
            <i :class="cardTypeIcons[group]" style="margin-bottom: 3px"></i>
            <strong class="ml-2 uppercase">{{ group }} ({{ countQuantities(filterGroup(cardMainSlots, group)) }})</strong>
          </div>
          <Divider />
          <GroupCardItem
            v-for="slot in filterGroup(cardMainSlots, group)"
            :key="slot.oracleId"
            :deck-slot="slot"
            :path="path"
            :generals="meta.generals"
            board="main"
            @context-menu="onContextMenu"
          ></GroupCardItem>
        </div>
      </template>
      <div v-if="cardSideSlots.length > 0" class="card-group side p-2">
        <div class="p-1">
          <i class="ms ms-fw ms-counter-vortex" style="margin-bottom: 3px"></i>
          <strong class="ml-2 uppercase">Sideboard ({{ countQuantities(cardSideSlots) }})</strong>
        </div>
        <Divider />
        <GroupCardItem
          v-for="slot in cardSideSlots"
          :key="slot.oracleId"
          :deck-slot="slot"
          :path="path"
          :generals="meta.generals"
          board="side"
          @context-menu="onContextMenu"
        ></GroupCardItem>
      </div>
    </div>
  </DropZone>
</template>

<style scoped>
.card-group {
  width: 330px;
  height: auto;
  color: var(--surface-700);
  background-color: var(--surface-b);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.card-group.side {
  background-color: var(--surface-c);
}
.slot-card-item {
  display: block !important;
}
</style>

<script setup lang="ts">
import { ref, shallowRef, computed, nextTick, toRefs, onMounted, onUnmounted, watch } from 'vue';
import ContextMenu from 'primevue/contextmenu';
import DropZone from '../shared/DropZone.vue';
import DeckHandler from '@renderer/utils/deckHandler';
import EventHandler from '@renderer/utils/eventHandler';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import DeckSlot from '@model/types/DeckSlot';
import { MenuItem } from 'primevue/menuitem';
import Divider from 'primevue/divider';
import ResponsiveGrid from '@renderer/utils/responsiveGrid';
import { CARD_GROUPS, CardType } from '@model/enums';
import { cardTypeIcons } from '@model/icons/mana';
import GroupCardItem from './group/GroupCardItem.vue';

const decksStore = useDecksStore();
const { loadedDecks } = storeToRefs(decksStore);

const viewStore = useViewStore();
const { draggedSearchCard } = storeToRefs(viewStore);

const props = defineProps({
  path: { type: String, required: true }
});

const { path } = toRefs(props);
const meta = ref(loadedDecks.value[path.value]!.meta);

const actualContextMenu = shallowRef<ContextMenu>();
const openedMenuItems = shallowRef<MenuItem[]>([]);
const containerElement = shallowRef<HTMLElement>();

let grid: ResponsiveGrid;
let timeout: NodeJS.Timeout | null;

const cardMainSlots = computed(() => {
  const arr = loadedDecks.value[path.value]!.slots.filter((slot) => slot.board === 'main');
  DeckHandler.sortSlots(arr);
  return arr;
});

const cardSideSlots = computed(() => {
  const arr = loadedDecks.value[path.value]!.slots.filter((slot) => slot.board === 'side');
  DeckHandler.sortSlots(arr);
  return arr;
});

onMounted(() => {
  grid = new ResponsiveGrid({
    container: containerElement.value!,
    animate: true,
    gutter: 30,
    offsetY: 20,
    offsetX: 25,
    useMin: true
  });

  window.addEventListener('resize', onQueueResize);
  EventHandler.on('splitter-resize', reposition);
  EventHandler.on('deck-panel-tab-changed', onTabActivation);

  reposition();
});

onUnmounted(() => {
  window.removeEventListener('resize', onQueueResize);
  EventHandler.off('splitter-resize', reposition);
  EventHandler.off('deck-panel-tab-changed', onTabActivation);

  if (timeout) {
    clearTimeout(timeout);
  }
});

watch(loadedDecks.value[path.value]!.slots, reposition);

function onTabActivation(activeTab: string): void {
  if (activeTab === 'group') {
    reposition();
  }
}

function onQueueResize(): void {
  if (!timeout) {
    timeout = setTimeout(() => {
      reposition();
      timeout = null;
    }, 200);
  }
}

function onContextMenu(ev: Event, items: MenuItem[]): void {
  try {
    openedMenuItems.value = items;

    if (actualContextMenu.value) {
      actualContextMenu.value.show(ev);
    }
  } catch (error) {
    console.warn(error);
  }
}

function onDrop(): void {
  if (draggedSearchCard.value) {
    DeckHandler.addSlot(loadedDecks.value[path.value]!, draggedSearchCard.value, 1, 'main');
    DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
  }

  draggedSearchCard.value = null;
}

function filterGroup(slots: DeckSlot[], group: CardType): DeckSlot[] {
  return slots.filter((slot) => slot.cardGroup === group);
}

function countQuantities(slots: DeckSlot[]): number {
  let sum = 0;
  slots.forEach((slot) => (sum += slot.quantity));

  return sum;
}

function reposition(): void {
  nextTick(() => {
    // if not visible, do not resize
    if (containerElement.value && containerElement.value.clientWidth > 0) {
      grid.positionItems();
    }
  });
}
</script>
