<template>
  <div class="tags-panel grid p-5 w-full" style="height: calc(100vh - var(--co-main) - var(--co-deck-footer) - var(--co-tabs) - var(--co-border))">
    <div class="col-12">
      <div class="toolbar">
        <Button v-tooltip="'Create new custom tag...'" size="small" class="mb-1" label="" icon="pi pi-plus" @click="toggleCreate"></Button>
        <br />
        <Button v-tooltip="'Search for hidden tags...'" severity="secondary" label="" size="small" icon="pi pi-search" @click="toggleSearch"></Button>
      </div>
      <PickList v-model="tagOptions" class="w-full h-full" list-style="height: 700px;" data-key="name" @update:model-value="onChange">
        <template #sourceheader>Recommended</template>
        <template #targetheader>Selected</template>
        <template #item="slotProps">
          <div class="flex flex-wrap p-2 align-items-center gap-3">
            <div class="flex-2 flex flex-column gap-2">
              <span>
                <i :class="'pi pi-tag text-sm mr-2 ' + slotProps.item.colorClass"></i>
                <strong>{{ slotProps.item.name.toUpperCase() }}</strong>
              </span>
            </div>
            <div class="flex-1 flex flex-column gap-2">
              <span class="text-right text-sm">{{ slotProps.item.type }}</span>
            </div>
          </div>
        </template>
      </PickList>

      <OverlayPanel ref="overlaySearch" append-to="body">
        <Listbox
          v-model="selectedSearch"
          :filter-input-props="{ autofocus: true }"
          :options="searchOptions"
          filter
          multiple
          option-label="name"
          class="w-full"
          list-style="height: 250px"
        />
        <Button class="mt-2" severity="primary" label="Add to selected" size="small" @click="searchAddSelected"></Button>
      </OverlayPanel>

      <OverlayPanel ref="overlayCreate" append-to="body">
        <InputText v-model="inputCreate" autofocus type="text" />
        <br />
        <Button class="mt-2" severity="primary" label="Create new tag" size="small" @click="createAddSelected"></Button>
      </OverlayPanel>
    </div>
  </div>
</template>

<style>
.tags-panel .p-picklist-list {
  max-height: 100%;
}
.tags-panel .toolbar {
  position: absolute;
  left: 40px;
  top: 32px;
}
</style>

<script setup lang="ts">
import { ref, shallowRef, nextTick, toRefs, onMounted, watch } from 'vue';
import PickList from 'primevue/picklist';
import Button from 'primevue/button';
import Listbox from 'primevue/listbox';
import InputText from 'primevue/inputtext';
import OverlayPanel from 'primevue/overlaypanel';
import TagsHandler from '@renderer/utils/tagsHandler';
import EventHandler from '@renderer/utils/eventHandler';
import MagicTag, { formatTag } from '@model/types/MagicTag';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useFilesStore } from '@renderer/stores/files';

interface TagOption extends MagicTag {
  colorClass: string;
}

const props = defineProps({
  path: { type: String, required: true }
});

const { path } = toRefs(props);
const decksStore = useDecksStore();
const filesStore = useFilesStore();
const { loadedDecks } = storeToRefs(decksStore);
const { customTagList, autoTagList } = storeToRefs(filesStore);

const tagOptions = ref<[TagOption[], TagOption[]]>([[], []]);
const searchOptions = shallowRef<TagOption[]>([]);
const selectedSearch = ref<TagOption[]>([]);
const overlaySearch = shallowRef<OverlayPanel>();
const overlayCreate = shallowRef<OverlayPanel>();
const inputCreate = shallowRef('');

onMounted(() => {
  refreshTagList();
});

watch(customTagList.value, () => {
  refreshTagList();
});

function onChange(): void {
  loadedDecks.value[path.value]!.meta.tags = tagOptions.value[1].map((tag) => tag.name);
}

function toggleSearch(event: Event): void {
  if (overlaySearch.value) {
    overlaySearch.value.toggle(event);
  }
}

function toggleCreate(event: Event): void {
  if (overlayCreate.value) {
    overlayCreate.value.toggle(event);
  }
}

function searchAddSelected(event: Event): void {
  selectedSearch.value.forEach((tag) => {
    customTagList.value.add(tag);
    loadedDecks.value[path.value]!.meta.tags.push(formatTag(tag.name));
  });

  selectedSearch.value = [];
  nextTick(() => {
    if (overlaySearch.value) {
      overlaySearch.value.toggle(event);
      refreshTagList();
    }
  });
}

function createAddSelected(event: Event): void {
  customTagList.value.add(TagsHandler.createCustomTag(inputCreate.value));
  loadedDecks.value[path.value]!.meta.tags.push(formatTag(inputCreate.value));

  inputCreate.value = '';
  nextTick(() => {
    if (overlayCreate.value) {
      overlayCreate.value.toggle(event);
      refreshTagList();
    }
  });
}

function refreshTagList(): void {
  try {
    const currentTagNames = Array.from(loadedDecks.value[path.value]!.meta.tags);
    let availableAuto: TagOption[] = [];
    const availableCustom: TagOption[] = [];
    const searchable: TagOption[] = [];
    const selected: TagOption[] = [];

    // TODO: filter by importants
    autoTagList.value.forEach((tag) => {
      const pos = currentTagNames.indexOf(tag.name);
      if (pos !== -1) {
        delete currentTagNames[pos];
        selected.push({ ...tag, colorClass: 'text-green-400' });
      } else {
        availableAuto.push({ ...tag, colorClass: 'text-green-600' });
      }
    });

    // do this before custom check, in case we filtered out a custom tag required here...
    availableAuto = TagsHandler.filterForDeck<TagOption>(
      availableAuto,
      (tag) => {
        searchable.push(tag);
      },
      loadedDecks.value[path.value]!.stats,
      loadedDecks.value[path.value]!.slots.filter((slot) => slot.board !== 'consider')
    );

    customTagList.value.getList().forEach((tag) => {
      if (!availableAuto.some((existingTag) => tag.name === existingTag.name) && !selected.some((existingTag) => tag.name === existingTag.name)) {
        const pos = currentTagNames.indexOf(tag.name);
        if (pos !== -1) {
          delete currentTagNames[pos];
          selected.push({ ...tag, colorClass: 'text-blue-400' });
        } else {
          // remove "custom" tags, that are "also" auto tags
          if (!searchable.some((existingTag) => tag.name === existingTag.name)) {
            availableCustom.push({ ...tag, colorClass: 'text-blue-600' });
          }
        }
      }
    });

    tagOptions.value[0] = availableAuto.concat(availableCustom.sort((a: TagOption, b: TagOption) => a.name.localeCompare(b.name))); // keep filtered tags on top
    tagOptions.value[1] = selected.reverse();
    searchOptions.value = searchable.reverse();
  } catch (error) {
    EventHandler.emit('show-warning', error);
  }
}
</script>
