<template>
  <DropZone class="drop-area" style="min-height: calc(100vh - var(--co-main) - var(--co-deck-footer) - var(--co-tabs) - var(--co-border))" @dropped="onDrop">
    <ContextMenu ref="actualContextMenu" :model="contextItems" />
    <CompactTable
      v-if="activeTableView === 'compact'"
      :card-slots="cardSlots"
      :on-cell-edited="onCellEdited"
      :on-row-click="onRowClick"
      :on-row-focus="onRowFocus"
      :on-comment-input="onCommentInput"
      :on-row-context-menu="onRowContextMenu"
      :row-class="rowClass"
    >
    </CompactTable>
    <SimpleTable
      v-else-if="activeTableView === 'simple'"
      :card-slots="cardSlots"
      :on-cell-edited="onCellEdited"
      :on-row-click="onRowClick"
      :on-row-focus="onRowFocus"
      :on-comment-input="onCommentInput"
      :on-row-context-menu="onRowContextMenu"
      :row-class="rowClass"
    >
    </SimpleTable>
    <StandardTable
      v-else
      :card-slots="cardSlots"
      :on-cell-edited="onCellEdited"
      :on-row-click="onRowClick"
      :on-row-focus="onRowFocus"
      :on-comment-input="onCommentInput"
      :on-row-context-menu="onRowContextMenu"
      :row-class="rowClass"
      :show-thumb="activeTableView !== 'no-thumb'"
    ></StandardTable>
  </DropZone>
</template>

<style>
td.p-editable-column {
  font-weight: bold;
  cursor: pointer;
}
.light tr.general td {
  background-color: lavenderblush;
}
.light tr.signature td {
  background-color: aliceblue;
}
.dark tr.general td {
  background-color: var(--surface-b);
}
.dark tr.signature td {
  background-color: var(--surface-d);
}
tr.general td span.cn {
  font-weight: bolder;
}
tr.obsolete td span.cn {
  text-decoration: line-through;
}
</style>

<script setup lang="ts">
import { ref, shallowRef, computed, toRefs, nextTick, PropType } from 'vue';
import { DataTableCellEditCancelEvent } from 'primevue/datatable';
import ContextMenu from 'primevue/contextmenu';
import DropZone from '../shared/DropZone.vue';
import DeckHandler, { EditableSlotFields } from '@renderer/utils/deckHandler';
import EventHandler from '@renderer/utils/eventHandler';
import StandardTable from './table/StandardTable.vue';
import CompactTable from './table/CompactTable.vue';
import SimpleTable from './table/SimpleTable.vue';
import { BASIC_LANDS, Board } from '@model/enums';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import DeckSlot from '@model/types/DeckSlot';

const decksStore = useDecksStore();
const { loadedDecks } = storeToRefs(decksStore);

const viewStore = useViewStore();
const { draggedSearchCard, activeTableView } = storeToRefs(viewStore);

const props = defineProps({
  path: { type: String, required: true },
  board: { type: String as PropType<Board>, required: false, default: 'main' }
});

const { path, board } = toRefs(props);
const meta = ref(loadedDecks.value[path.value]!.meta);

const actualContextMenu = shallowRef<ContextMenu>();
const openedMenuData = shallowRef<DeckSlot>();

const cardSlots = computed(() => {
  return loadedDecks.value[path.value]!.slots.filter((slot) => slot.board === board.value);
});

function onCommentInput(ev: KeyboardEvent, oracleId: string): void {
  // cannot enter spaces for some reason so try to cheat them into the input field
  // clunky solution, needs to enter at least one non-space character afterwards
  // so we have to trigger an delayed update to overwrite the previous submit
  const target = ev.target as HTMLInputElement;
  if (ev.which === 32) {
    const pos = target.selectionEnd ?? 0;
    const before = target.value.substring(0, target.selectionStart ?? 0);
    const after = target.value.substring(pos);
    target.value = before + ' ' + after;
    target.selectionEnd = pos + 1;
  } else if (ev.which === 13) {
    // on enter
    setTimeout(() => {
      onCellEdited({ field: 'comment', data: { oracleId }, value: '', newValue: target.value });
    }, 200);
  }
}

function onDrop(): void {
  if (draggedSearchCard.value) {
    DeckHandler.addSlot(loadedDecks.value[path.value]!, draggedSearchCard.value, 1, board.value);
    DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
  }
}

function onRowClick(ev: DataTableCellEditCancelEvent): void {
  // triggered even when panel is hidden
  viewStore.showPreview(window.modelService.Cards.byId(ev.data.linkedCard.id));
}

function onRowFocus(ev: FocusEvent): void {
  // ignored when panel is hidden
  const oracleId = (ev.target as HTMLTableRowElement).querySelector('span[name="type-line"]')?.getAttribute('data-oracle-id');
  if (oracleId) {
    viewStore.showPreviewOracleId(oracleId, false);
  }
}

function onCellEdited(ev: { field: EditableSlotFields; data: { oracleId: string }; value: string | number; newValue: string | number }): void {
  DeckHandler.updateSlotValue(loadedDecks.value[path.value]!, ev.data.oracleId, board.value, ev.field, ev.newValue);
  DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
}

function onRowContextMenu(ev: DataTableCellEditCancelEvent): void {
  if (actualContextMenu.value) {
    openedMenuData.value = ev.data;
    actualContextMenu.value.show(ev.originalEvent);
  }
}

function rowClass(slot: DeckSlot): object[] {
  return [
    { signature: meta.value.signatures.includes(slot.oracleId) },
    { general: meta.value.generals.includes(slot.oracleId) },
    { obsolete: board.value === 'consider' && loadedDecks.value[path.value]!.slots.find((s) => s && s.board !== 'consider' && s.oracleId === slot.oracleId) }
  ];
}

let contextItems = [
  {
    label: 'Remove card',
    icon: 'pi pi-times',
    command: (): void => {
      nextTick(() => {
        if (openedMenuData.value) {
          DeckHandler.removeSlot(loadedDecks.value[path.value]!, openedMenuData.value.oracleId, board.value);
          DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
          DeckHandler.pushMetaUpdate(loadedDecks.value[path.value]!);
        }
      });
    }
  },
  {
    label: 'Toogle signature',
    icon: 'ms ms-artist-brush',
    command: (): void => {
      if (openedMenuData.value) {
        if (meta.value.signatures.includes(openedMenuData.value.oracleId)) {
          meta.value.signatures = meta.value.signatures.filter((oi) => {
            return openedMenuData.value && oi !== openedMenuData.value.oracleId;
          });
        } else {
          if (meta.value.signatures.length >= 3) {
            EventHandler.emit('show-warning', 'Maximum of 3 signature cards allowed');
          } else {
            meta.value.signatures.push(openedMenuData.value.oracleId);
          }
        }
      }
    }
  },
  {
    label: 'Toogle general',
    icon: 'ms ms-counter-loyalty',
    command: (): void => {
      if (openedMenuData.value) {
        if (meta.value.generals.includes(openedMenuData.value.oracleId)) {
          meta.value.generals = meta.value.generals.filter((oi) => {
            return openedMenuData.value && oi !== openedMenuData.value.oracleId;
          });
        } else {
          meta.value.generals.push(openedMenuData.value.oracleId);
        }
      }
    }
  }
];

if (board.value === 'main') {
  contextItems = contextItems.concat([
    {
      label: 'Add Basic Swamp',
      icon: 'ms ms-b',
      command: (): void => {
        const card = window.modelService.Cards.byId(BASIC_LANDS.Swamp);
        EventHandler.emit('add-card-to-deck', card, board.value);
      }
    },
    {
      label: 'Add Basic Forest',
      icon: 'ms ms-g',
      command: (): void => {
        const card = window.modelService.Cards.byId(BASIC_LANDS.Forest);
        EventHandler.emit('add-card-to-deck', card, board.value);
      }
    },
    {
      label: 'Add Basic Mountain',
      icon: 'ms ms-r',
      command: (): void => {
        const card = window.modelService.Cards.byId(BASIC_LANDS.Mountain);
        EventHandler.emit('add-card-to-deck', card, board.value);
      }
    },
    {
      label: 'Add Basic Island',
      icon: 'ms ms-u',
      command: (): void => {
        const card = window.modelService.Cards.byId(BASIC_LANDS.Island);
        EventHandler.emit('add-card-to-deck', card, board.value);
      }
    },
    {
      label: 'Add Basic Plains',
      icon: 'ms ms-w',
      command: (): void => {
        const card = window.modelService.Cards.byId(BASIC_LANDS.Plains);
        EventHandler.emit('add-card-to-deck', card, board.value);
      }
    }
  ]);
}
</script>
