<template>
  <div class="grid w-full p-5">
    <div class="col-8">
      <div>
        <apexchart v-if="refreshGraph" width="100%" type="bar" :options="manaCurveOptions" :series="manaCurveData"></apexchart>
      </div>
      <div class="card flex flex-wrap gap-2 justify-content-center">
        <Chip v-for="td in typesData" :key="td.name" v-tooltip.top="td.tooltip" :label="td.total.toString()" :icon="td.icon" class="cursor-pointer pl-2 pr-2" />
      </div>
      <div class="p-3 mt-3 text-center" style="background-color: var(--surface-d)">
        <template v-if="currency !== 'none'">
          <Tag
            v-tooltip.top="'Total cards value'"
            :icon="'pi pi-' + (currency === 'eur' ? 'euro' : 'dollar')"
            severity="info"
            class="pl-3 pr-3 mr-2"
            :value="Math.ceil(stats.price)"
            rounded
          ></Tag>
        </template>
        <Tag
          v-tooltip.top="'Average card EDHREC rank (lower is more mainstream)'"
          icon="pi pi-compass"
          severity="warning"
          class="pl-3 pr-3 mr-1"
          :value="stats.avgEdhrecRank"
          rounded
        ></Tag>
        Overall color identity: <ManaCosts :cost="overallColorIdentity"></ManaCosts>
      </div>
    </div>
    <div class="col-4">
      <div class="grid">
        <div class="col-12">
          <apexchart v-if="refreshGraph" type="pie" :options="colorOptions" :series="colorData"></apexchart>
          <div class="text-sm text-center mt-1">Card color distribution</div>
        </div>
        <div class="col-12">
          <Divider />
        </div>
        <div class="col-12">
          <apexchart v-if="refreshGraph" type="pie" :options="manaProductionOptions" :series="manaProductionData"></apexchart>
          <div class="text-sm text-center mt-1">Mana production distribution</div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.dark .apexcharts-legend-text {
  color: var(--text-color) !important;
}
</style>

<script setup lang="ts">
import { ref, shallowRef, toRefs, onMounted, onUnmounted, watch, nextTick } from 'vue';
import Chip from 'primevue/chip';
import Tag from 'primevue/tag';
import Divider from 'primevue/divider';
import ManaCosts from '../shared/ManaCosts.vue';
import { cardTypeIcons } from '@model/icons/mana';
import { ActualColors, CardType, ManaColor } from '@model/enums';
import DeckStats from '@model/types/DeckStats';
import { joinSymbols } from '@renderer/utils/symbolHelper';
import ColorHandler from '@renderer/utils/colorHandler';
import { useDecksStore } from '@renderer/stores/decks';
import { storeToRefs } from 'pinia';

type TypesData = {
  name: string;
  icon: string;
  total: number;
  tooltip: string;
};

const props = defineProps({
  path: { type: String, required: true }
});

const { path } = toRefs(props);
const decksStore = useDecksStore();
const { loadedDecks } = storeToRefs(decksStore);
const stats = ref(loadedDecks.value[path.value]!.stats);
const currency = window.appService.getCurrency();

const refreshGraph = shallowRef(false);
const typesData = shallowRef<TypesData[] | null>(null);
const colorOptions = shallowRef<object | null>(null);
const colorData = shallowRef<object | null>(null);
const manaProductionOptions = shallowRef<object | null>(null);
const manaProductionData = shallowRef<object | null>();
const manaCurveOptions = shallowRef<object | null>(null);
const manaCurveData = shallowRef<object | null>(null);
const overallColorIdentity = shallowRef<string>('');

onMounted(() => {
  updateStats();
  refreshGraph.value = true;
});

onUnmounted(() => {
  manaCurveOptions.value = null;
  manaCurveData.value = null;
  colorOptions.value = null;
  colorData.value = null;
  manaProductionOptions.value = null;
  manaProductionData.value = null;
});

watch(stats.value, () => {
  refreshGraph.value = false;
  updateStats();
  nextTick(() => {
    refreshGraph.value = true;
  });
});

function updateStats(): void {
  const colorConfig = colorChartConfig(stats.value);
  const manaProductionConfig = manaProductionChartConfig(stats.value);
  const manaCurveConfig = manaCurveChartConfig(stats.value);

  colorOptions.value = setColorOptions(colorConfig);
  colorData.value = setColorData(colorConfig);
  manaProductionOptions.value = setManaProductionOptions(manaProductionConfig);
  manaProductionData.value = setManaProductionData(manaProductionConfig);
  manaCurveOptions.value = setManaCurveOptions(); // fix options
  manaCurveData.value = setManaCurveData(manaCurveConfig);

  typesData.value = [];
  let ty: CardType;
  for (ty in stats.value.types) {
    const total = stats.value.total[ty];
    if (total > 0) {
      const name = ty[0].toUpperCase() + ty.substring(1);
      let tooltip = name;
      for (const sty in stats.value.types[ty]) {
        tooltip += '\n' + sty + ': ' + stats.value.types[ty][sty];
      }
      typesData.value.push({
        name,
        total,
        tooltip,
        icon: cardTypeIcons[ty]
      });
    }
  }

  const colorIdentity = [];
  let col: ActualColors;
  for (col in stats.value.colorIdentity) {
    if (stats.value.colorIdentity[col] > 0) {
      colorIdentity.push(col);
    }
  }

  overallColorIdentity.value = joinSymbols(colorIdentity);
}

function colorChartConfig(stats: DeckStats): { labels: object; legendColors: object; colorStops: object; series: object } {
  const res = {
    labels: [] as string[],
    legendColors: [] as string[],
    colorStops: [] as object[],
    series: [] as number[]
  };

  for (const el in stats.colors) {
    if (stats.colors[el] > 0) {
      const legendColor = ColorHandler.getLegend(el);
      res.series.push(stats.colors[el]);
      res.legendColors.push(legendColor);
      res.labels.push(ColorHandler.mapNames[el] + ' (' + stats.colors[el] + ')');

      switch (el) {
        case 'C4':
        case 'C5':
          res.colorStops.push([{ offset: 100, color: ColorHandler.Multicolor, opacity: 1 }]);
          break;
        default:
          switch (el.length) {
            case 1: // R or C
              res.colorStops.push([{ offset: 100, color: ColorHandler.mapSingle[el[0]], opacity: 1 }]);
              break;
            case 2: // RW
              res.colorStops.push([
                { offset: 0, color: ColorHandler.mapSingle[el[0]], opacity: 1 },
                { offset: 100, color: ColorHandler.mapSingle[el[1]], opacity: 1 }
              ]);
              break;
            case 3: // RUW
              res.colorStops.push([
                { offset: 0, color: ColorHandler.mapSingle[el[0]], opacity: 1 },
                { offset: 60, color: ColorHandler.mapSingle[el[1]], opacity: 1 },
                { offset: 100, color: ColorHandler.mapSingle[el[2]], opacity: 1 }
              ]);
              break;
          }
          break;
      }
    }
  }

  return res;
}

function manaProductionChartConfig(stats: DeckStats): { labels: object; legendColors: object; colorStops: object; series: object } {
  const res = {
    labels: [] as string[],
    legendColors: [] as string[],
    fillColors: [] as string[],
    colorStops: [] as object[],
    series: [] as number[]
  };

  let el: ManaColor;
  for (el in stats.manaProduction) {
    if (stats.manaProduction[el] > 0) {
      res.series.push(stats.manaProduction[el]);
      res.legendColors.push(ColorHandler.getLegend(el));
      res.fillColors.push(ColorHandler.mapSingle[el]);
      res.labels.push(ColorHandler.mapNames[el] + ' (' + stats.manaProduction[el] + ')');
      res.colorStops.push([{ offset: 100, color: ColorHandler.mapSingle[el[0]], opacity: 1 }]);
    }
  }

  return res;
}

function manaCurveChartConfig(stats: DeckStats): { series: object } | undefined {
  const c = stats.total.creatures;
  const nc = stats.total.enchantments + stats.total.planeswalkers + stats.total.battles + stats.total.artifacts;
  const s = stats.total.instants + stats.total.sorceries;
  const l = stats.total.lands;
  const total = l + s + c + nc;

  if (total > 0) {
    return {
      series: [
        {
          name: 'Spells (' + ((s / total) * 100).toFixed(2) + '%)',
          data: [stats.cmc[0].s, stats.cmc[1].s, stats.cmc[2].s, stats.cmc[3].s, stats.cmc[4].s, stats.cmc[5].s, stats.cmc[6].s, stats.cmc[7].s]
        },
        {
          name: 'Non-Creature Perm. (' + ((nc / total) * 100).toFixed(2) + '%)',
          data: [stats.cmc[0].nc, stats.cmc[1].nc, stats.cmc[2].nc, stats.cmc[3].nc, stats.cmc[4].nc, stats.cmc[5].nc, stats.cmc[6].nc, stats.cmc[7].nc]
        },
        {
          name: 'Creatures (' + ((c / total) * 100).toFixed(2) + '%)',
          data: [stats.cmc[0].c, stats.cmc[1].c, stats.cmc[2].c, stats.cmc[3].c, stats.cmc[4].c, stats.cmc[5].c, stats.cmc[6].c, stats.cmc[7].c]
        },
        {
          // lands just for legend
          name: 'Lands (' + ((l / total) * 100).toFixed(2) + '%)',
          data: [0, 0, 0, 0, 0, 0, 0, 0]
        }
      ]
    };
  }

  return undefined;
}

function setColorOptions(cfg: { labels: object; legendColors: object; colorStops: object }): object {
  return {
    chart: {
      id: 'Colors',
      width: 300,
      height: 300
    },
    labels: cfg.labels,
    legend: {
      position: 'bottom'
    },
    colors: cfg.legendColors,
    fill: {
      colors: cfg.legendColors,
      opacity: 1.0,
      type: 'gradient',
      gradient: {
        shade: 'dark',
        type: 'horizontal',
        shadeIntensity: 0.2,
        inverseColors: false,
        opacityFrom: 1,
        opacityTo: 1,
        colorStops: cfg.colorStops
      }
    }
  };
}

function setColorData(cfg: { series: object }): object {
  return cfg.series;
}

function setManaProductionOptions(cfg: { labels: object; legendColors: object; colorStops: object }): object {
  return {
    chart: {
      id: 'Mana Production',
      width: 300,
      height: 300
    },
    labels: cfg.labels,
    legend: {
      position: 'bottom'
    },
    colors: cfg.legendColors,
    fill: {
      colors: cfg.legendColors,
      opacity: 1.0,
      type: 'gradient',
      gradient: {
        shade: 'dark',
        type: 'horizontal',
        shadeIntensity: 0.5,
        inverseColors: false,
        opacityFrom: 1,
        opacityTo: 1,
        colorStops: cfg.colorStops
      }
    }
  };
}

function setManaProductionData(cfg: { series: object }): object {
  return cfg.series;
}

function setManaCurveOptions(): object {
  return {
    chart: {
      id: 'Mana curve',
      height: 350,
      stacked: true,
      toolbar: {
        show: false
      }
    },
    xaxis: {
      categories: ['0', '1', '2', '3', '4', '5', '6', '7+']
    },
    legend: {
      position: 'bottom'
    },
    colors: [ColorHandler.TypeSpell, ColorHandler.TypeNonCreature, ColorHandler.TypeCreature, ColorHandler.TypeLand]
  };
}

function setManaCurveData(cfg: { series: object } | undefined): object {
  if (cfg) {
    return cfg.series;
  }

  return {};
}
</script>
