<template>
  <div class="deck-status-box">
    <div class="inline-block" style="height: var(--co-deck-footer)">
      <img
        v-if="generalFirst"
        v-tooltip="generalFirst.englishName"
        :src="generalFirst.cipArt"
        alt=""
        style="height: var(--co-deck-footer)"
        @click="previewCard(generalFirst)"
      />
      <img v-else-if="signatureFirst" :src="signatureFirst.cipArt" alt="" style="height: var(--co-deck-footer)" @click="previewCard(signatureFirst)" />
      <img
        v-if="companionFirst"
        v-tooltip="companionFirst.englishName"
        :src="companionFirst.cipArt"
        alt=""
        style="height: var(--co-deck-footer)"
        @click="previewCard(companionFirst)"
      />
    </div>
    <div class="inline-block relative" style="float: right; height: var(--co-deck-footer)">
      <div class="w-full ml-2 mr-2" style="margin-top: calc((var(--co-deck-footer) - 20px) / 2)">
        <span style="position: relative; top: 2px"><ManaCosts :cost="joinSymbols(meta.colors)" :size="16"></ManaCosts></span>
        {{ title }}
        <span v-show="meta.type">({{ meta.type }})</span>
        <span class="inline-block ml-2" style="position: relative; top: -2px">
          <a v-tooltip.top="'Test draw'" href="#" @click="drawSidebar = true"><i class="text-color-secondary ms ms-ability-d20"></i></a>
        </span>
        <span class="inline-block ml-2" style="position: relative; top: 2px">
          <a v-tooltip.top="'Toggle favorite'" href="#" @click="toggleFlag('favorite')">
            <i :class="'opacity-' + (meta.flags.includes('favorite') ? 100 : 30)" class="text-color-secondary pi pi-heart"></i>
          </a>
        </span>
        <span class="inline-block ml-2" style="position: relative; top: 2px">
          <a v-tooltip.top="'Toggle bookmark'" href="#" @click="toggleFlag('bookmark')">
            <i :class="'opacity-' + (meta.flags.includes('bookmark') ? 100 : 30)" class="text-color-secondary pi pi-bookmark"></i>
          </a>
        </span>
        <span class="inline-block ml-2" style="position: relative; top: 2px">
          <a v-tooltip.top="'Toggle construction'" href="#" @click="toggleFlag('construction')">
            <i :class="'opacity-' + (meta.flags.includes('construction') ? 100 : 30)" class="text-color-secondary pi pi-wrench"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, shallowRef, toRefs, onMounted, watch, nextTick } from 'vue';
import ManaCosts from '../shared/ManaCosts.vue';
import MagicCard from '@model/types/MagicCard';
import { joinSymbols } from '@renderer/utils/symbolHelper';
import EventHandler from '@renderer/utils/eventHandler';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import { DeckFlag } from '@model/enums';

const props = defineProps({
  path: { type: String, required: true }
});

const { path } = toRefs(props);
const decksStore = useDecksStore();
const { loadedDecks, deckTableTabs } = storeToRefs(decksStore);
const viewStore = useViewStore();
const { drawSidebar } = storeToRefs(viewStore);

const meta = ref(loadedDecks.value[path.value]!.meta);
const title = ref(deckTableTabs.value[path.value]);

const signatureFirst = shallowRef<MagicCard | null>(null);
const generalFirst = shallowRef<MagicCard | null>(null);
const companionFirst = shallowRef<MagicCard | null>(null);

onMounted(() => {
  updateStatus();
});

watch(meta.value, () => {
  updateStatus();
});

function toggleFlag(flag: DeckFlag): void {
  if (meta.value.flags.includes(flag)) {
    meta.value.flags = meta.value.flags.filter((f) => flag !== f);
  } else {
    meta.value.flags.push(flag);
  }

  // expensive!
  nextTick(() => {
    EventHandler.emit('reload-deck-tree');
  });
}

function previewCard(card: MagicCard): void {
  viewStore.showPreview(card);
}

function updateStatus(): void {
  if (meta.value.signatures.length > 0) {
    signatureFirst.value = window.modelService.Cards.byOracleId(meta.value.signatures[0]);
  } else {
    signatureFirst.value = null;
  }

  if (meta.value.companions.length > 0) {
    companionFirst.value = window.modelService.Cards.byOracleId(meta.value.companions[0]);
  } else {
    companionFirst.value = null;
  }

  if (meta.value.generals.length > 0) {
    generalFirst.value = window.modelService.Cards.byOracleId(meta.value.generals[0]);
  } else {
    generalFirst.value = null;
  }
}
</script>
