<template>
  <div class="w-full overview-auto" style="height: calc(100vh - var(--co-main) - var(--co-deck-footer) - var(--co-tabs) - var(--co-border))">
    <div class="card flex flex-1 justify-content-center w-full">
      <SelectButton v-model="mode" :options="options" :pt="{ root: { class: 'w-full' }, button: { style: { width: '50%' } } }" />
    </div>
    <div v-if="mode === 'import'" class="grid m-0 p-1">
      <div class="col-6 p-3">
        <div class="col-12 text-right">
          <Button :disabled="!sourceValue || working" severity="info" icon="pi pi-angle-double-right" label="Parse..." @click="parseFromInput" />
        </div>
        <span class="text-sm text-color-secondary">Paste/enter a plain deck list or MTGO XML and press Parse to see detected cards for the import.</span>
        <Textarea v-model="sourceValue" :disabled="working" auto-resize style="height: calc(100% - 250px)" class="w-full" rows="25" cols="30" />
      </div>
      <div class="col-6 p-3">
        <div class="col-12 text-right">
          <Button :disabled="!parsed || working" icon="pi pi-times" severity="secondary" label="Reset" @click="parsed = null" />
          <Button :disabled="!parsed || working" icon="pi pi-flag-fill" class="ml-1" severity="info" label="Import" @click="importFromInput" />
          <Dropdown
            v-model="boardTarget"
            :options="boardTargetOptions"
            title="Table view template"
            option-label="name"
            option-value="board"
            class="w-10rem text-left"
          />
        </div>
        <div v-if="parsed" class="w-full">
          <div class="font-bold">Main</div>
          <div v-for="p of parsed.successMain" :key="p.card.oracleId">
            {{ p.amount }} x
            <a href="#" @click="viewStore.showPreview(p.card)" @mouseover="viewStore.showPreview(p.card, false)">{{ p.card.englishName }}</a>
          </div>
          <div v-for="p of parsed.missedMain" :key="p" class="text-yellow-600"><i class="pi pi-exclamation-circle" /> {{ p }}</div>

          <div v-if="parsed.successSide.length || parsed.missedSide.length">
            <div class="font-bold mt-2">Sideboard</div>
            <div v-for="p of parsed.successSide" :key="p.card.oracleId">
              {{ p.amount }} x
              <a href="#" @click="viewStore.showPreview(p.card)" @mouseover="viewStore.showPreview(p.card, false)">{{ p.card.englishName }}</a>
            </div>
            <div v-for="p of parsed.missedSide" :key="p" class="text-yellow-600"><i class="pi pi-exclamation-circle" /> {{ p }}</div>
          </div>

          <div v-if="parsed.companion">
            <div class="font-bold mt-2">Companion</div>
            <span>{{ parsed.companion.amount }} {{ parsed.companion.card.englishName }}</span>
          </div>
        </div>
        <div v-else>Nothing parsed yet.</div>
      </div>
    </div>
    <div v-else class="grid m-0 p-1">
      <div ref="exportList" class="col-10 p-5" contenteditable="true"></div>
      <div class="col-2 p-3">
        <div class="col-12 text-right">
          <Button icon="pi pi-refresh" severity="info" label="Update" @click="refreshExport" />
          <p>
            <a rel="noreferrer noopener" target="_blank" href="https://www.mtggoldfish.com/proxies/new">Proxies @ MTG Goldfish</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, shallowRef, toRefs, nextTick, watch } from 'vue';
import Textarea from 'primevue/textarea';
import Button from 'primevue/button';
import SelectButton from 'primevue/selectbutton';
import Dropdown from 'primevue/dropdown';
import DeckHandler from '@renderer/utils/deckHandler';
import { storeToRefs } from 'pinia';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import ImportHandler, { ParseResult } from '@renderer/utils/importHandler';
import ExportHandler from '@renderer/utils/exportHandler';
import DeckSlot from '@model/types/DeckSlot';
import { Board } from '@model/enums';

const props = defineProps({
  path: { type: String, required: true }
});

const { path } = toRefs(props);

const decksStore = useDecksStore();
const { loadedDecks } = storeToRefs(decksStore);

const viewStore = useViewStore();

const meta = ref(loadedDecks.value[path.value]!.meta);
const slots = ref(loadedDecks.value[path.value]!.slots);

const sourceValue = shallowRef('');
const parsed = shallowRef<ParseResult>();
const working = shallowRef(false);
const mode = shallowRef('import');
const options = shallowRef(['import', 'export']);
const exportList = shallowRef<HTMLDivElement | null>(null);
const boardTarget = shallowRef<Board | 'auto'>('auto');

const boardTargetOptions = ref([
  { name: 'Auto', board: 'auto' },
  { name: 'Main deck', board: 'main' },
  { name: 'Sideboard', board: 'side' },
  { name: 'Consider', board: 'consider' }
]);

watch(mode, () => {
  nextTick(() => {
    if (mode.value === 'export' && !exportList.value?.innerText) {
      refreshExport();
    }
  });
});

async function parseFromInput(): Promise<void> {
  working.value = true;
  nextTick(async () => {
    parsed.value = ImportHandler.parseText(sourceValue.value);
    working.value = false;
  });
}

async function importFromInput(): Promise<void> {
  if (parsed.value) {
    working.value = true;
    nextTick(async () => {
      if (parsed.value) {
        for (const o of parsed.value.successMain) {
          if (o.amount) {
            DeckHandler.addSlot(loadedDecks.value[path.value]!, o.card, o.amount, boardTarget.value === 'auto' ? 'main' : boardTarget.value);
          }
        }

        for (const o of parsed.value.successSide) {
          if (o.amount) {
            DeckHandler.addSlot(loadedDecks.value[path.value]!, o.card, o.amount, boardTarget.value === 'auto' ? 'side' : boardTarget.value);
          }
        }

        if (parsed.value.companion) {
          meta.value.companions = [parsed.value.companion.card.oracleId];
        }

        DeckHandler.pushSlotsUpdate(loadedDecks.value[path.value]!);
        parsed.value = null;
        working.value = false;
      }
    });
  }
}

function refreshExport(): void {
  (exportList.value as HTMLDivElement).innerText = ExportHandler.fromSlots(slots.value as DeckSlot[], meta.value);
}
</script>
