<template>
  <div v-if="true === loading" class="loading-states flex flex-column justify-content-center align-content-center flex-wrap card-container w-full">
    <div
      v-for="(stName, st) in stateNames"
      :key="st"
      class="flex-grow align-items-center justify-content-center bg-blue-300 font-bold text-white border-round m-2"
    >
      <ThemeSelect v-show="false"></ThemeSelect>
      <div :class="loadingStates[st] ? 'bg-green-500' : loadingStates[st] === null ? 'bg-blue-300' : 'bg-red-300'">
        <div class="flex justify-content-between flex-wrap card-container purple-container">
          <div class="flex align-items-center justify-content-center h-4rem font-bold text-white border-round px-4">
            {{ stName }}
            <span v-if="(loadingStates[st] as number) > 0" class="text-sm px-2"> ({{ loadingStates[st] }} ms)</span>
          </div>
          <div class="flex align-items-center w-4rem">
            <ProgressSpinner v-if="null === loadingStates[st]" style="width: 30px; height: 30px" stroke-width="3" fill="var(--surface-ground)" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex-grow m-2">
      <div
        class="flex align-items-center justify-content-center h-4rem font-bold text-sm text-color-secondary border-round px-4 cursor-pointer"
        @click="openBaseExplorer"
      >
        Building Cards DB for the first time can take up to 5 min...
      </div>
    </div>
  </div>
  <div v-if="false === loading" class="grid" style="margin: 0; height: 100vh">
    <div class="col-12 relative h-full">
      <div class="absolute preferences-bar">
        <ThemeSelect></ThemeSelect>
        <Dropdown v-model="activeTableView" :options="tableViews" title="Table view template" option-label="name" option-value="tpl" class="w-10rem mr-2" />
        <Dropdown v-model="defaultDeckPanel" :options="deckPanels" title="Default view for decks" option-label="name" option-value="tab" class="w-10rem mr-2" />
        <ToggleButton v-model="hideSearch" on-label="Show search" off-label="Hide search" on-icon="pi pi-chevron-left" off-icon="pi pi-chevron-right" />
      </div>
      <TabView class="tabview-custom h-full" @tab-change="onTabChange">
        <TabPanel>
          <template #header>
            <i class="pi pi-th-large mr-2"></i>
            <span>Decks</span>
          </template>
          <Decks></Decks>
        </TabPanel>
        <TabPanel>
          <template #header>
            <i class="pi pi-database mr-2"></i>
            <span>Card DB</span>
          </template>
          <CardDB></CardDB>
        </TabPanel>
        <TabPanel>
          <template #header>
            <i class="pi pi-calculator mr-2"></i>
            <span>Aggregate</span>
          </template>
          <Aggregate></Aggregate>
        </TabPanel>
        <TabPanel>
          <template #header>
            <i class="pi pi-cog mr-2"></i>
            <span>Settings</span>
          </template>
          <Settings></Settings>
        </TabPanel>
      </TabView>
    </div>
  </div>
  <Toast position="bottom-center" />
</template>

<style scoped>
.loading-states {
  min-height: calc(100vh - 10rem);
}
.loading-states > div {
  width: 400px;
  min-height: 50px;
}
</style>

<style lang="less">
@import './assets/css/styles.less';
</style>

<script setup lang="ts">
import { ref, watch } from 'vue';
import { storeToRefs } from 'pinia';
import TabView, { TabViewClickEvent } from 'primevue/tabview';
import TabPanel from 'primevue/tabpanel';
import Toast from 'primevue/toast';
import ToggleButton from 'primevue/togglebutton';
import Dropdown from 'primevue/dropdown';
import ProgressSpinner from 'primevue/progressspinner';
import { useToast } from 'primevue/usetoast';
import EventHandler from '@renderer/utils/eventHandler';
import { FileTreeNode } from '@model/interfaces/Storage';
import { Companion } from '@model/interfaces/Companion';
import { COMPANIONS } from '@model/enums';
import { useDecksStore } from '@renderer/stores/decks';
import { useViewStore } from '@renderer/stores/view';
import { useFilesStore } from '@renderer/stores/files';
import Decks from '@renderer/routes/Decks.vue';
import CardDB from '@renderer/routes/CardDB.vue';
import Aggregate from '@renderer/routes/Aggregate.vue';
import Settings from '@renderer/routes/Settings.vue';
import MagicTag from '@model/types/MagicTag';
import ThemeSelect from '@renderer/components/ThemeSelect.vue';

const decksStore = useDecksStore();
const viewStore = useViewStore();
const filesStore = useFilesStore();
const { loadedDecks } = storeToRefs(decksStore);
const { appSettings, hideSearch, defaultDeckPanel, activeTableView, companionCards } = storeToRefs(viewStore);
const { deckFileRoot, deckFileTree, flattenFilePaths, customTagList, autoTagList } = storeToRefs(filesStore);

const tsStart = Date.now();
const toast = useToast();
const loading = ref(true);

const stateNames = {
  symbols: 'Symbols',
  decks: 'Decks',
  editions: 'Editions',
  cards: 'Cards DB'
};

const loadingStates = ref<{ [index: string]: boolean | number | null }>({
  decks: null,
  symbols: null,
  editions: null,
  cards: null
});

const deckPanels = ref([
  { name: 'Cardlist', tab: 'mb' },
  { name: 'Stacked', tab: 'stack' },
  { name: 'Grouped', tab: 'group' },
  { name: 'Meta data', tab: 'meta' },
  { name: 'Tags', tab: 'tags' },
  { name: 'Colors/Mana', tab: 'colors' },
  { name: 'Import/Export', tab: 'impexp' }
]);

const tableViews = ref([
  { name: 'Standard', tpl: 'standard' },
  { name: 'No Thumb', tpl: 'no-thumb' },
  { name: 'Compact', tpl: 'compact' },
  { name: 'Simple', tpl: 'simple' }
]);

EventHandler.on('show-warning', (text: string) => {
  toast.add({ severity: 'warn', summary: 'Ooops!', detail: text, life: 2000 });
});

watch(activeTableView, () => {
  localStorage.setItem('active-table-view', activeTableView.value);
});

watch(defaultDeckPanel, () => {
  localStorage.setItem('default-deck-table', defaultDeckPanel.value);
});

function onTabChange(ev: TabViewClickEvent): void {
  if (ev.index === 2) {
    setTimeout(() => EventHandler.emit('refresh-aggregate'), 1);
  }
}

function decksRefresh(state: boolean, root: string, ft: FileTreeNode[], flatten: string[], tagList: MagicTag[]): void {
  for (const k in loadedDecks.value) {
    if (!flatten.includes(k)) {
      console.warn('Opened deck not found anymore: ' + k, state);
      decksStore.unloadDeck(k);
    }
  }

  deckFileRoot.value = root;
  deckFileTree.value = ft;
  flattenFilePaths.value = flatten;
  customTagList.value.addList(tagList);

  console.debug('Decks reloaded! (Decks: ' + flatten.length + ', Tags: ' + tagList.length + ')', new Date());
}

function updateLoading(): void {
  for (const st in loadingStates.value) {
    if (!loadingStates.value[st]) {
      loading.value = true;
      return;
    }
  }
  loading.value = false;
}

function openBaseExplorer(): void {
  // console.log(appSettings.value?.basePath);
  if (appSettings.value?.basePath) {
    window.fileSystem.openShell(appSettings.value?.basePath, 'folder');
  }
}

window.emitter.onEditionsLoaded((state) => {
  loadingStates.value.editions = state ? Date.now() - tsStart : false;
  updateLoading();
});

window.emitter.onSymbolsLoaded((state) => {
  loadingStates.value.symbols = state ? Date.now() - tsStart : false;
  updateLoading();
});

window.emitter.onCardsLoaded((state) => {
  loadingStates.value.cards = state ? Date.now() - tsStart : false;
  updateLoading();

  const companions: Companion[] = [];
  for (const n in COMPANIONS) {
    const card = window.modelService.Cards.byId(COMPANIONS[n]);
    if (card) {
      companions.push({
        oracleId: card.oracleId,
        name: n,
        card
      });
    } else {
      console.warn('Failed to fetch companion card!');
    }
  }

  companionCards.value = companions;
  autoTagList.value = window.modelService.Tags.getAutoList();
});

window.emitter.onDecksReloaded(decksRefresh);
window.emitter.onDecksLoaded((state, root, ft, flatten, tagList) => {
  loadingStates.value.decks = state ? Date.now() - tsStart : false;
  updateLoading();

  decksRefresh(state, root, ft, flatten, tagList);
});

window.emitter.onSettingsRead((as) => {
  appSettings.value = as;

  const storedTableView = localStorage.getItem('active-table-view');
  if (storedTableView) {
    activeTableView.value = storedTableView;
  }

  const storedDefaultDeckPanel = localStorage.getItem('default-deck-table');
  if (storedDefaultDeckPanel) {
    defaultDeckPanel.value = storedDefaultDeckPanel;
  }
});

window.fileSystem.onError((msg) => {
  toast.add({ severity: 'error', summary: 'File operation error', detail: msg, life: 6000 });
});

console.info('Start loading! (' + window.electron.process.platform + ')', new Date());
// document.addEventListener('touchstart', () => {}, { passive: true });
window.appService.readSettings();
window.dataService.loadBulk();
window.dataService.loadDecks();
</script>
